<% title = "Easy Schools | " + __('New_Subject') %>
  <div class="col-md-12 content">


   <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= sails.config.global_data.school_name %>

      </a>
      /
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">

            <%= sails.config.global_data.class_name%>
      </a>
      /
       <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">

          <%=sails.config.global_data.subject_name%>
      </a>
   </h2>
</div>





    <ol class="breadcrumb col-md-10 col-md-offset-1">
      <li>

      <!-- <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">Details</a></li> -->
      <!-- <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/update">Edit Subject</a></li> -->
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw">Homeworks</a></li>
      <li class="active">New Homework</li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users">Students</a></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/attend/new">Record Attendance</a></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/grades/new">Record Grades</a></li>

    </ol>
    <div class="col-md-8 content-data center-block">
      <form action="/schools/<%= req.param('school_id')%>/classes/<%=req.param('class_id')%>/subjects/<%= req.param('subject_id')%>/hw/new" method="post">
        <div class="col-md-8 school-form-elements">
          <input type="text" name="name" class="form-control" placeholder="Homework Title" required />
          Due Date: <input type="date" name="dueDate" class="form-control" placeholder="Homework Date" required />
          <textarea rows="3" class="form-control" placeholder="Homework Description" name="description"></textarea>
          <input type="submit" value="Add new homework" class="btn btn-default pull-right" />
        </div>
      </form>
    </div>
  </div>
