<% title = "Easy Schools | " + __('Homeworks') %>
<div class="col-md-12 content">


  <div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check ">

       <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects">

          <%= req.session.school.name %>
      </a>

      /
      <a style="color:#fff; text-transform:capitalize"  href="/schools/<%=req.param('school_id')%>/classes/<%=req.param('class_id') %>/subjects/<%= req.param('subject_id')%>/users/<%= req.param('user_id')%>/menu" > <%=subject.name%> </a>

   </h2>

</div>




<div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" style=" ">
      <div class="panel-heading" >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('HomeWorks') %></h1>
      </div>
    <div class="panel-body" >
      <div>
        <label id="create-new" style="color:#5cb85c; font-size:30px; cursor:pointer" class="pull-right"><i class="glyphicon glyphicon-plus-sign"></i></label>
      </div>
      <br /><br />

       <div class="list-group  " id="hw_view">
        <% for (var i=0; i<hw_list.length; i++) { %>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-edit pull-right" onclick="editHomework('<%=hw_list[i].name%>', '<%=hw_list[i].description %>', '<%=hw_list[i]['questionAttache']%>', '<%=hw_list[i].dueDate %>', <%=hw_list[i].id%>)"  style="color: green; padding-left:5px; cursor:pointer"></span>
            <span class="glyphicon glyphicon-remove-sign pull-right" onclick="deleteHomework(<%=hw_list[i].id%>)" style="color: red;cursor:pointer;"></span><br />
            <h4 class="list-group-item-heading"><%=hw_list[i].name%> <span class="pull-right label label-warning"><%=hw_list[i].dueDate %></span></h4>
            <p class="list-group-item-text"><% if (hw_list[i].description) { %><%=hw_list[i].description %><% } %></p><br />
            <div class="pull-left">
              <a download href="<%=hw_list[i].questionAttache%>"><%= __('Download_Homework') %></a>
            </div>
            <div class="pull-right" style="cursor: pointer" onclick="showAnswers('part_<%=hw_list[i].id%>', 'arrowDown_<%=hw_list[i].id%>', 'arrowUp_<%=hw_list[i].id%>')">
              <%= __('show_answers') %> <span class="glyphicon glyphicon-chevron-down" id="arrowDown_<%=hw_list[i].id%>"></span>
              <span class="glyphicon glyphicon-chevron-up" id="arrowUp_<%=hw_list[i].id%>" style="display:none"></span>
            </div>
            <br/><br/>

            <div class="list-group-item" id="part_<%=hw_list[i].id%>" style="display: none">
              <%if(hw_list[i].answers){%>
                <table style="width:100%">


                  <%for(let j = 0; j < hw_list[i].answers.length; j++){%>
                    <tr>
                      <td>
                        <%=hw_list[i].answers[j].firstName%> <%=hw_list[i].answers[j].lastName%>
                      </td>
                      <td>

                      </td>
                      <td>
                        <%if(hw_list[i].answers[j].profileImage){%>
                          <img src="<%=hw_list[i].answers[j].profileImage%>" style="height: 50px; width: 50px">
                        <%}%>
                      </td>
                      <td>
                        <a download href="<%=hw_list[i].answers[j].answerAttache%>" class="pull-right"><%= __('Download_Answer') %></a>
                      </td>
                    </tr>
                  <%}%>
                </table>
              <%}else{%>
                <h3><%= __('there_is_no_answers') %></h3>
              <%}%>
            </div>
        </div>
        <% } %>
      </div>
      </div>
      <div id="hw_new" style="display: none">
        <%include hw_new.ejs%>
      </div>
      <div id="hw_update" style="display: none">
        <%include hw_update.ejs%>
      </div>

  </div>



  <% include ../shared/sideMenu.ejs %>

  <script>
    $('#create-new').click(()=>{
      $('#hw_new').slideToggle();
      $('#create-new').slideToggle();
      $('#hw_view').slideToggle();
    });
    $('#cancelHW').click(()=>{
      $('#hw_new').slideToggle();
      $('#create-new').slideToggle();
      $('#hw_view').slideToggle();
    });
    $('#cancelHW_update').click(()=>{
      $('#hw_update').slideToggle();
      $('#create-new').slideToggle();
      $('#hw_view').slideToggle();


    });

    function editHomework(name, description, question_attache, dueDate, hwId){
      $('#create-new').slideToggle();
      $('#hw_view').slideToggle();
      $('#hw_update').slideToggle();
      $('#name_update').val(name);
      $('#date_update').val(dueDate);
      $('#hwId').val(hwId);
      document.getElementById('date_update').value =dueDate;

      $('#description_update').val(description);

    }

    function deleteHomework(hwId){
      $.ajax({
              type: 'delete',
               url: "/api/homeworks/" + hwId,
               success: function(result){
                 console.log(result);
                 location.reload();
               },
               error: function(err){
                 console.log(err);
               }

             });
    }

  function showAnswers(elementId, arrowDown, arrowUp){
    $('#' + elementId).slideToggle();
    $('#' + arrowDown).toggle();
    $('#' + arrowUp).toggle();
  }
  </script>
</div>
<%let pageName='Homeworks page'%>
<% include ../shared/logger.ejs %>
