<div class="col-md-12 content">

   <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= req.session.school.name %>
      </a>
   </h2>
</div>
<div class="panel panel-primary panel-padding col-md-8 col-md-offset-2" style=" ">
  <div class="panel-body" >
    <div class="list-group  " id="hw_view" style="cursor: pointer">
     <% for (var i=0; i<homeworks.length; i++)  { %>
       <div class="list-group-item" >
         <span class="glyphicon glyphicon-edit pull-right" onclick="editAnswer(<%=homeworks[i].id%>, <%=homeworks[i].answer?homeworks[i].answer.stuhwId : -1%>)"  style="color: green; padding-left:5px; cursor:pointer"></span>
         <br />
         <h4 class="list-group-item-heading"><%=homeworks[i].name%> <span class="pull-right label label-warning"><%=homeworks[i].dueDate %></span></h4>
         <p class="list-group-item-text"><% if (homeworks[i].description) { %><%=homeworks[i].description %><% } %></p><br />
         <a download href="<%=homeworks[i].questionAttache%>"><%= __('Download_Homework') %></a>
         <%if(homeworks[i].answer){%>
           <a download href="<%=homeworks[i].answer.answerAttache%>" class="pull-right"><%= __('Download_Answer') %></a>
         <%}%>
       </div>
     <% } %>
    </div>

    <div id="uploadPart" style="display: none">
      <form id="answerForm"  method="post" action="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.params.subject_id %>/users/<%= req.params.user_id%>/hw/answer">
        <input type="text" id="hwId" name="homework" value="1" class="hidden" />
        <input type="text" id="userId" name="student" value="<%=req.user.id%>" class="hidden" />
        <input type="text" id="answerAttache" name="answerAttache"  class="hidden"/>
        <input type="text" id="answerId" name="answerId"  class="hidden"/>
        Answer:
        <input  type="file"  required  id="file-input-homework"/>
        <br/>
        <input type="button" id="submitAnswer"  value="Submit answer"  class="btn btn-default pull-left" />
        <input type="button" value="<%= __('Cancel') %>" id='cancelHW' class="btn btn-default pull-right" />
      </form>
    </div>
  </div>
</div>
</div>
<script >
  function editAnswer(hwId, answerId){
    $('#hw_view').slideToggle();
    $('#uploadPart').slideToggle();
    $('#hwId').val(hwId);
    $('#answerId').val(answerId);
  }
  $('#cancelHW').click(()=>{
    editAnswer(0);
  })
</script>
<%var isImageMandatory = false;  var fileInput= 'file-input-homework'; var imageUrlField = 'answerAttache'; var dataForm='answerForm'; var buttonSubmit='submitAnswer' %>

<% include ../upload.ejs %>
