
<div class="col-md-10 content-data center-block">
  <form id="hwFormId" action="/schools/<%= req.param('school_id')%>/classes/<%=req.param('class_id')%>/subjects/<%= req.param('subject_id')%>/hw/new" method="post">
    <div class=" school-form-elements">
      <%= __('Homework_Title') %>
      <input type="text" name="name" class="form-control" placeholder="<%= __('Homework_Title') %>" required />
      <%= __('Homework_Date') %>:
      <input type="date" name="dueDate" class="form-control" placeholder="<%= __('Homework_Date') %>" required />
      <%= __('Homework_file') %>: <input  type="file"  required  id="attach_id"/>
      <textarea rows="3" class="form-control" placeholder="<%= __('Homework_Description') %>" name="description"></textarea>
      <input  type="text" class="hidden" name="questionAttache" required  id="questionAttache"/>
      <input type="button" value="<%= __('Add_new_homework') %>" class="btn btn-default pull-right" id="submitId"/>
      <input type="button" value="<%= __('Cancel') %>" id='cancelHW' class="btn btn-default pull-left" />
      <input type="file" class="hidden" id="hw_attach_header"/>
    </div>
  </form>

</div>

<%var isImageMandatory = false;  var fileInput= 'attach_id'; var imageUrlField = 'questionAttache'; var dataForm='hwFormId'; var buttonSubmit='submitId' %>

<% include ../upload.ejs %>
