
<div class="col-md-10 content-data center-block">
  <form id="hwFormId_update" action="/schools/<%= req.param('school_id')%>/classes/<%=req.param('class_id')%>/subjects/<%= req.param('subject_id')%>/hw/" method="post">
    <div class=" school-form-elements">
      <%= __('Homework_Title') %>:
      <input type="text" name="name" id="name_update" class="form-control" placeholder="<%= __('Homework_Title') %>" required />
      <%= __('Homework_Date') %>: <input type="date" id="date_update" name="dueDate" class="form-control" placeholder="<%= __('Homework_Date') %>" required />
      <%= __('Homework_file') %>: <input  type="file"  required  id="attach_id_update"/>
      <textarea rows="3" class="form-control" id="description_update" placeholder="<%= __('Homework_Description') %>" name="description"></textarea>
      <input  type="text" class="hidden" name="question-attache" required  id="question-attache_update"/>
      <input  type="text" class="hidden" name="hwId" required  id="hwId"/>
      <input type="button" value="<%= __('Update') %>" class="btn btn-default pull-right" id="submitId_update"/>
      <input type="button" value="<%= __('Cancel') %>" id='cancelHW_update' class="btn btn-default pull-left" />

      <input type="file" class="hidden" id="hw_attach_header"/>
    </div>
  </form>

</div>

<%var isImageMandatory = false;  var fileInput= 'attach_id_update'; var imageUrlField = 'question-attache_update'; var dataForm='hwFormId_update'; var buttonSubmit='submitId_update' %>

<% include ../upload.ejs %>
