<div class="col-md-12 content">
    <ol class="breadcrumb col-md-10 col-md-offset-1">
        <li class="active"><h1><a href="/schools/<%= req.session.school.id %>"</a> <%= req.session.school.name %></h1> </li>
    </ol>
    <div class="col-md-12 content-data content-grades">
    <div class="col-md-3">
        <a href="#" class="btn btn-circle-lg btn-primary center-block"><span class="glyphicon glyphicon-apple"></span></a>
        <h4>Students</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-circle-lg btn-primary center-block"><span class="glyphicon glyphicon-erase"></span></a>
        <h4>Teachers</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-circle-lg btn-primary center-block"><span class="glyphicon glyphicon-blackboard"></span></a>
        <h4>Classes</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-circle-lg btn-primary center-block"><span class="glyphicon glyphicon-alert"></span></a>
        <h4>Announcements</h4>
    </div>
</div>
</div>
