<div class="panel panel-primary panel-padding col-md-2 " style="margin-left:5px">
            <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px; text-transform:capitalize"><%= __('Manage_Class')%></h1>
            </div>
            <ul class="list-group">

            <li class="  list-group-item" style="text-align: center;"><a href="#" class="btn btn-circle btn-primary center-block" style="max-height: 80px;"><span class="glyphicon glyphicon-list-alt"></span></a><%= __('Details') %></li>

            <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>

             <li class="list-group-item" style="text-align: center;">
               <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/new" class="btn btn-circle btn-warning center-block"><span class="glyphicon glyphicon-book"></span></a><%= __('New_Subject') %>
             </li>

             <li class="list-group-item" style="text-align: center;"><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/update" class="btn btn-circle btn-success center-block"> <span class="glyphicon glyphicon-edit"></span></a><%= __('EditـClass') %></li>

            <%}%>
            <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group5Roles)) {%>

             <li class="list-group-item" ><a href="/schools/<%= req.param('school_id') %>/announce/"><%= __('Calendar') %></a></li>
            <%}%>
            <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group4Roles)) {%>

             <li class="list-group-item" style="text-align: center;"><a class="btn btn-circle btn-danger center-block" href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects"><span class="glyphicon glyphicon-book"></span><span style="font-size: 25px;" class="glyphicon glyphicon-book"></span></a><%= __('Subjects') %></li>
            <%}%>



       </ul>
    </div>
