
<script type="text/javascript">
  let object = {page : '<%= pageName%>', enterDate : new Date()};
    $.ajax({
              type: 'post',
               url: "/logs",
               data : object,
               success: function(result){
                 console.log(result);
                 $(window).on("beforeunload", function() {
                   object.lastVisitDate = new Date();
                   $.ajax({
                             type: 'put',
                              url: "/logs/" + result.id,
                              data : object,
                              success: function(result){
                                console.log(result);
                              }
                            });
                     return inFormOrLink ? "Do you really want to close?" : null;
                 })
               }
             });




</script>
