
    <div class="panel panel-primary panel-padding col-md-2 " style="margin-left:5px">
            <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"></h1>
            </div>
            <ul class="list-group">
               <!-- <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">Details</a></li> -->

               <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>
                 <li class="list-group-item" style="text-align: center;"><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/update" class="btn btn-circle btn-primary center-block"><span class="glyphicon glyphicon-book"></span></a><br /><%= __('Edit_Subject') %></li>
              <%}%>


                <li class="list-group-item" style="text-align: center;"><a class="btn btn-circle btn-danger center-block" href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw"><span class="glyphicon glyphicon-paste"></span></a><br /><%= __('Homeworks') %></li>


                <% if (req.user.type!="student") { %>

                 <li class="list-group-item" style="text-align: center;"><a class="btn btn-circle btn-warning center-block" href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users"><span style="font-size: 25px;"class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></a><%= __('Students') %></li>


               <li class="list-group-item" style="text-align: center;"><a class="btn btn-circle btn-success center-block" href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/attend/new"><span class="glyphicon glyphicon-calendar"></span></a><br/><%= __('Attendance') %></li>



               <li class="list-group-item" style="text-align: center;"><a class="btn btn-circle btn-primary center-block" href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/grades/new"><span class="glyphicon glyphicon-signal"></span></a><br /><%= __('Grades') %></li>




               <% } %>

            </ul>
    </div>
