<style>
.icon-image-profile{
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 70px;
  opacity: 0.6;
  color: #fff;
  display:none
}
.image-profile-container:hover .icon-image-profile{display:block}

.loader {
 border: 16px solid #f3f3f3; /* Light grey */
 border-top: 16px solid #3498db; /* Blue */
 border-radius: 50%;
 width: 100px;
 height: 100px;
 animation: spin 2s linear infinite;
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -70px 0 0 -150px;
}

#loader-container{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity:0.7;
  top: 0px;
  z-index: 10000;
}
</style>
<div id="loader-container" style="">
    <div class="loader"></div>
</div>
<script src="/js/jquery.js"></script>
<%if(user.profileImage){%>
<img src="<%=user.profileImage%>"/>
<%}else{%>
<span onclick="changeProfileImage();" class="btn glyphicon glyphicon-user user-icon" aria-hidden="true" style="">Change Image</span>
<%}%>
<form method="post" action="/users/<%=user.id%>/userImage?target=mobile" style="display:none" id="profile-image-form">
  <input name="profileImage" id="user-profile-image"/>
  <input name="id"  value="<%=user.id%>"/>
  <input type="button" id="profileImage-submit"/>
</form>
<input type="file" class="hidden" id="user-profile-image-header"/>
<% var isImageMandatory = true; var fileInput= 'user-profile-image-header'; var imageUrlField = 'user-profile-image'; var dataForm='profile-image-form'; var buttonSubmit='profileImage-submit' %>


<script >
function showLoader(){
  $('#loader').show();
}


function hideLoader(){
  $('#loader').hide();
}

function initializeUpload(){
  var button = document.getElementById('<%=buttonSubmit%>');
  var isImageMandatory = <%=isImageMandatory%>;
  if(button){
  button.addEventListener('click', function(event) {
      event.preventDefault();
      var fileInput = document.getElementById('<%=fileInput%>');
      var file = fileInput.files[0];
      if(!isImageMandatory && (file === undefined || file === null)){
        // $('#<%=imageUrlField%>').val(responseDoc.getElementsByTagName("Location")[0].childNodes[0].nodeValue);
        $('#<%=fileInput%>').attr('readonly');
        $("#<%=dataForm%>").submit();
      }else if (file !== undefined && file !== null) {
          var filename = file.name.replace(/.+[\\\/]/, "");

          getS3UploadCredentials(filename, function (result) {
              console.log(result);

              uploadToS3(result);
          });
      } else {
          alert("Nothing to upload");
      }
  }, false);

}


function getS3UploadCredentials(filename, callback) {
    showLoader();
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var response = xhr.responseText;
            response = JSON.parse(response);

            callback(response);
        }else{
          console.log(xhr);
        }
    };
    xhr.open("GET", "/as3?filename=" + filename, true);
    xhr.send();
}


function uploadToS3(result) {

    var formData = new FormData();

    formData.append('key', result.params.key);
    formData.append('acl', result.params.acl);
    formData.append('success_action_status', result.params.success_action_status);
    formData.append('policy', result.params.policy);
    formData.append('x-amz-algorithm', result.params["x-amz-algorithm"]);
    formData.append('x-amz-credential', result.params["x-amz-credential"]);
    formData.append('x-amz-date', result.params["x-amz-date"]);
    formData.append('x-amz-signature', result.params["x-amz-signature"]);
    formData.append('Content-Type', result.params["Content-Type"]);
    // formData.mimeType = "image/jpeg";
    var fileInput = document.getElementById('<%=fileInput%>');
    var file = fileInput.files[0];
    formData.append('file', file);

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            var responseDoc = xhr.responseXML;
            console.log(responseDoc);
            console.log("Uploaded to bucket: " + responseDoc.getElementsByTagName("Bucket")[0].childNodes[0].nodeValue);
            console.log("It can be accessed on: " + responseDoc.getElementsByTagName("Location")[0].childNodes[0].nodeValue);
            $('#<%=imageUrlField%>').val(responseDoc.getElementsByTagName("Location")[0].childNodes[0].nodeValue);
            $('#<%=fileInput%>').attr('readonly');
            $("#<%=dataForm%>").submit();

        }
    };
    xhr.open('POST', result.upload_url, true);
    xhr.send(formData);
}

function getFormData(dataObj){
  var formData = new FormData();
  for (var key in dataObj) {
    if (dataObj.hasOwnProperty(key)) {
      formData.append(key, dataObj[key]);
    }
  }
  return formData;
}
}
initializeUpload();
</script>

<script>
  function changeProfileImage(){
    $('#user-profile-image-header').trigger("click");
  }
  $('#user-profile-image-header').change(()=>{
    $('#profileImage-submit').trigger('click');
  });
</script>
