<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Easy Schools' : title%></title>
<meta charset="utf-8"/>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
   <!-- <link rel="stylesheet" href="/bower_components/bootstrap-calendar/css/calendar.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.css" />-->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-multiselect.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/fullcalendar.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/styles/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/tables.css">
    <!--STYLES END-->



<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">

    <!--SCRIPTS
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/additional-methods.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
     SCRIPTS END-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/fullcalendar.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/additional-methods.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.confirm.js"></script>
    <script src="/js/bootstrap-multiselect.js"></script>
    <script src="/js/hover.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
    <script src="/js/main.js"></script>


   <!-- <script src="/bower_components/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/bootstrap-calendar/js/calendar.min.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"type="text/javascript"></script>
    <script src="/bower_components/bootstrap3-typeahead/bootstrap3-typeahead.min.js" type="text/javascript"></script>
    <script src="/bower_components/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
   -->

   <style>
   .icon-image-profile{
     position: absolute;
     top: 5px;
     left: 10px;
     font-size: 70px;
     opacity: 0.6;
     color: #fff;
     display:none
   }
.image-profile-container:hover .icon-image-profile{display:block}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -150px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.center {
    margin: auto;
    width: 10%;
    height: 100%;
    border: 3px solid #73AD21;
    padding: 10px;
}
#loader-container{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity:0.7;
  top: 0px;
  z-index: 10000;
}
.user-icon{
  background-color: #fff;position: relative;top: 3px;font-size: 80px;float: left; cursor: pointer;
}
   </style>
   <script>

   function showLoader(){
     $('#loader-container').show();
   }


   function hideLoader(){
     $('#loader-container').hide();
   }

   </script>
  </head>

    <body style="padding-top: 70px">

<div id="loader-container" style="">
    <div class="loader"></div>
</div>

    <nav class="navbar navbar-default navbar-fixed-top navbar-shadow">
        <div class="container-fluid">
        <!---brand image +collapse-->


                  <a class="navbar-brand " href="/">
                    <img alt="easy-school" src="/images/easyschoollogo2.png" class=" col-sm-offset-2 websitelogo">
                 </a>

                <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
              </button>


           <!---brand image+collapse -->

            <!---collapsed menue -->
             <div class="collapse navbar-collapse  col-xs-12 pull-right" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav " >

            <!----drop down----->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= __('Lang') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><a href="/lang/en"><%= __('English') %></a></li>
            <li><a href="/lang/ar"><%= __('Arabic') %></a></li>
          </ul>
        </li>

            <!----end of drop down---->
          </ul>
          </div>
            <!---end of collapsed menu-->

        </div>
    </nav>


      <!--the welcome message-->

  <div class="container-fluid memo " style="background-image: url('/images/easyschoolsback.jpg');
background-size:cover">

   <% if (req.isAuthenticated()){ %>
       <div class="col-sm-4  col-sm-offset-2 col-xs-6 " style="margin-top:5px;margin-bottom:20px">
            <div class="btn-group dropup">

                <%if(req.user.profileImage){%>
                  <label class="btn image-profile-container" style="padding: 0px" onclick="changeProfileImage();">
                    <div style="left" >
                      <img src="<%=req.user.profileImage%>" alt="Mountain View" style="width:60px;height:60px;">
                    </div>
                    <div class="icon-image-profile">
                      <span class="glyphicon glyphicon-camera"></span>
                    </div>
                  </label>
                <%}else{%>

                    <span onclick="changeProfileImage();" class="btn glyphicon glyphicon-user user-icon" aria-hidden="true" style=""></span>

                  <%}%>
                  <form method="post" action="/users/<%=req.user.id%>/userImage" class="hidden" id="profile-image-form">
                    <input name="profileImage" id="user-profile-image"/>
                    <input name="id"  value="<%=req.user.id%>"/>
                    <input type="button" id="profileImage-submit"/>
                  </form>
                  <input type="file" class="hidden" id="user-profile-image-header"/>
              <a href='/users/<%= req.user.id %>/update?update=true' class="btn btn-default"><%= req.user.username %></a>
              <a href="/logout" class="btn btn-default">
                <span class="glyphicon glyphicon-off"></span>
                <span class="sr-only" style="font-size :20px">Logout</span>
              </a>

            </div>
             <div class="memo-text">
          <h1 dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>"><b><%= __('Welcome') %></b><% if (req.isAuthenticated() && req.user.firstName){ %> <%=req.user.firstName %> <% }%></h1>
         </div>
          </div>

          <div class="col-sm-4 col-sm-offset-2 col-xs-6">
            <% if (req.url.indexOf('/schools/')+1 && sails.config.global_data.school_image) { %>
            <a href = "/" class="center-block"> <img src="<%= sails.config.global_data.school_image %>" class="img-circle  image-responsive" style="max-width: 120px;height: auto; margin-top:25px" > </a>
            <% } %>
            </div>



   <% } else { %>
         <div  style ="margin-top: -50px;margin-bottom: -40px;"class=" col-sm-4 col-sm-offset-6 memo-text">
          <h1><b><%= __('Welcome') %></b></h1>
          <p> EasySchool is a user-friendly app that lets schools maintain easy and direct contact with students and parents. It is powerful, fast and above all very easy to deploy . It requires no complicated installation or technical – extensive training. </p>
        </div>
        <!---
        <div class="col-sm-6"  >
          <img src="/images/front.png" class="center-block img-responsive" style="max-width:150px;height:auto"/>
        </div>
        ---->
   <% } %>

    </div>




  <!----end of welcome message -->

    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->


<% if (req.isAuthenticated() && req.user.type=="superuser"){ %>
           <div class="col-md-12 col-xs-12">
              <form action="/search" method="get" class="navbar-form  " style="padding-top:10px" role="search">
                <input name="name" type="text" placeholder="Search" class="form-control" />
                <select name="type" class="form-control">
                  <option value="student"><%= __('Students') %></option>
                  <option value="teacher"><%= __('Teachers') %></option>
                  <!-- <option>Schools</option> -->
                </select>
                <input type="submit" value="Search" class="btn btn-default" />
              </form>
              </div>
            <% } %>


    <div class="col-xs-12 copyright-notice"><%= __('copy-rights') %></div>
    <% var isImageMandatory = true; var fileInput= 'user-profile-image-header'; var imageUrlField = 'user-profile-image'; var dataForm='profile-image-form'; var buttonSubmit='profileImage-submit' %>

        <% include ./upload.ejs%>


    <script>
    function changeProfileImage(){
      $('#user-profile-image-header').trigger("click");
    }
    $('#user-profile-image-header').change(()=>{
      $('#profileImage-submit').trigger('click');
    });
    </script>

  </body>
</html>
