<% title = "Easy Schools | " + __('Login')  %>



  <!--
  <div class="col-md-12 content">
  <ol class="breadcrumb col-md-10 col-md-offset-1">
    <li><h1 class="bg-info">Login</h1></li>
  </ol>
  -->



        <div class="panel panel-primary panel-padding col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" style="margin-top:25px" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading >
                 <h3 class="panel-title"><%= __('Login') %></h3>
            </div>
            <div class="panel-body">
                  <form class="" action="/login" method="post">

       <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= __('Username') %></span>
          <input type="text" name="username" class="form-control" placeholder="<%= __('Username') %>" />
      </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= __('Password') %></span>
          <input type="password" name="password" class="form-control" placeholder="<%= __('Password') %>" />
      </div>
      <a href="/auth/forget-password"><%= __('Forgetـpassword') %></a>
      <input type="submit" class="btn btn-default <%=req.locale == 'ar'?'pull-left' : 'pull-right'%>" value="<%= __('Login') %>" />
  </form>

              <% if (message) { %>
                    <div class="alert alert-danger col-md-4 col-md-offset-4" role="alert"><%= message %></div>
              <% } %>

            </div>
        </div>




</div>
