
<script >

function initializeUpload(){
  var button = document.getElementById('<%=buttonSubmit%>');
  var isImageMandatory = <%=isImageMandatory%>;
  if(button){
  button.addEventListener('click', function(event) {
      event.preventDefault();
      var fileInput = document.getElementById('<%=fileInput%>');
      var file = fileInput.files[0];
      if(!isImageMandatory && (file === undefined || file === null)){
        // $('#<%=imageUrlField%>').val(responseDoc.getElementsByTagName("Location")[0].childNodes[0].nodeValue);
        $('#<%=fileInput%>').attr('readonly');
        $("#<%=dataForm%>").submit();
      }else if (file !== undefined && file !== null) {
          var filename = file.name.replace(/.+[\\\/]/, "");

          getS3UploadCredentials(filename, function (result) {
              console.log(result);

              uploadToS3(result);
          });
      } else {
          alert("Nothing to upload");
      }
  }, false);

}


function getS3UploadCredentials(filename, callback) {
    showLoader();
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var response = xhr.responseText;
            response = JSON.parse(response);

            callback(response);
        }else{
          console.log(xhr);
        }
    };
    xhr.open("GET", "/as3?filename=" + filename, true);
    xhr.send();
}


function uploadToS3(result) {

    var formData = new FormData();

    formData.append('key', result.params.key);
    formData.append('acl', result.params.acl);
    formData.append('success_action_status', result.params.success_action_status);
    formData.append('policy', result.params.policy);
    formData.append('x-amz-algorithm', result.params["x-amz-algorithm"]);
    formData.append('x-amz-credential', result.params["x-amz-credential"]);
    formData.append('x-amz-date', result.params["x-amz-date"]);
    formData.append('x-amz-signature', result.params["x-amz-signature"]);
    formData.append('Content-Type', result.params["Content-Type"]);
    // formData.mimeType = "image/jpeg";
    var fileInput = document.getElementById('<%=fileInput%>');
    var file = fileInput.files[0];
    formData.append('file', file);

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            var responseDoc = xhr.responseXML;
            console.log(responseDoc);
            console.log("Uploaded to bucket: " + responseDoc.getElementsByTagName("Bucket")[0].childNodes[0].nodeValue);
            console.log("It can be accessed on: " + responseDoc.getElementsByTagName("Location")[0].childNodes[0].nodeValue);
            $('#<%=imageUrlField%>').val(responseDoc.getElementsByTagName("Location")[0].childNodes[0].nodeValue);
            $('#<%=fileInput%>').attr('readonly');
            $("#<%=dataForm%>").submit();

        }
    };
    xhr.open('POST', result.upload_url, true);
    xhr.send(formData);
}

function getFormData(dataObj){
  var formData = new FormData();
  for (var key in dataObj) {
    if (dataObj.hasOwnProperty(key)) {
      formData.append(key, dataObj[key]);
    }
  }
  return formData;
}
}
initializeUpload();
</script>
