<% title = "Easy Schools | " +  __('Schools') %>
<div class="col-md-12 content" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">

  <div class="panel panel-primary panel-padding col-md-10 col-md-offset-1" style="margin-top:25px">
            <div class="panel-heading >
                 <h1 class="panel-title"><a href="/schools" style="color:#fff"><%= __('Schools') %></a></h1>
                      <div class="<%=req.locale == 'ar'?'pull-left' : 'pull-right'%>" style="font-size:25px;">
                          <a href="/schools/remove" style="color:#d9534f"><i class="glyphicon glyphicon-remove-sign"></i></a>
                          <a href="/schools/new" style="color:#5cb85c"><i class="glyphicon glyphicon-plus-sign"></i></a>
                      </div>
            </div>
            <div class="panel-body">
                  <div class="row center-block content-schools">
                        <% for (var i=0; i<school_list.length; i++){ %>
                        <div class="col-sm-6 col-md-3">
                          <div class="thumbnail">
                              <a href="/schools/<%= school_list[i].id %>"><img src="<%= school_list[i].schoolLogo %>" class="img-circle" data-toggle="tooltip" data-placement="top" title="<%= school_list[i].name %>" style="width:150px;height:auto"> </a>
                            <div class="caption">
                                <a href="/schools/<%= school_list[i].id %>"><%= school_list[i].name %> </a>
                            </div>
                          </div>
                        </div>
                        <% } %>
                    </div>
          </div>
    </div>



</div>

<a href="/dataview"> Data View </a>
<%let pageName='Schools'%>
<% include ../shared/logger.ejs %>
