<% title = "Easy Schools | Remove Schools" %>
<div class="col-md-12 content">
    <ol class="breadcrumb col-md-10 col-md-offset-1">
        <li><h1><a href="/schools">Schools</a></h1></li>
      <div class="pull-right" style="font-size:25px;margin-top:25px;">
          <a href="/schools/remove" style="color:#d9534f"><i class="glyphicon glyphicon-remove-sign"></i></a>
          <a href="/schools/new" style="color:#5cb85c"><i class="glyphicon glyphicon-plus-sign"></i></a>
      </div>
    </ol>
    <div class="col-md-8 content-data center-block">
        <% for (var i=0; i<schools.length; i++) { %>
            <div class="col-md-3 col-md-offset-1">
              <a href="#">
                  <img src="<%= schools[i].schoolLogo %>" class="img-circle" data-toggle="tooltip" data-placement="top" title="<%= schools[i].name %>" style="width:150px;height:auto">
                  <%= schools[i].name %>
              </a>
              <form action="/schools/<%= schools[i].id %>/remove" method="post" class="remove-school">
                  <button type="submit" class="btn btn-danger btn-rounded">
                      <i class="glyphicon glyphicon-remove"></i>
                  </button>
              </form>
          </div>
        <% } %>
    </div>
  </div>
