<% title = "Easy Schools | " + __('NewـSchool') %>
<div class="col-md-12 content">
    <ol class="breadcrumb col-md-10 col-md-offset-1">
        <li><h3 class="btn btn-default"><a href="/schools"><< <%= __('goـbackـtoـSchoolsـmenu') %> </a></h3></li>
    </ol>


  <div class="panel panel-primary panel-padding col-md-10 col-md-offset-1" style="">
            <div class="panel-heading >
                  <h1 class="panel-title"><a href="/schools/new" style="color:#fff"> <%= __('add_new_school') %> </a></h1>

            </div>
            <div class="panel-body  ">

          <div class=" col-md-10 content-data center-block" style="margin-top:-8px;" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
                      <div class=" ">
                      <form action="/schools/new" method="post" id="school-form">

                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><%= __('School_Name') %></span>
                          <input type="text" name="name" class="form-control" placeholder="<%= __('School_Name') %>" required />

                        </div>
                             <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><%= __('School_image') %></span>
                         <input type="file"  name="school_logo" required id="file-input"/>
                         <input type="text" class="hidden" name="schoolLogo"  id="school-logo"/>

                        </div>

                          <input type="button" value="<%= __('Create') %>" class="btn btn-default <%=req.locale == 'ar'?'pull-left' : 'pull-right'%>" id="form-submit"/>
                      </form>
                      </div>
                  </div>
          </div>
    </div>

  <% var isImageMandatory = true; var fileInput= 'file-input'; var imageUrlField = 'school-logo'; var dataForm='school-form'; var buttonSubmit='form-submit' %>
  <% include ../upload.ejs%>
