<% title = "Easy Schools | " + __('UpdateـSchool') %>
<div class="col-md-12 content">

<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check">
      <a style="color:#fff; text-transform:capitalize" href="/schools/<%= req.param('school_id') %>"> <%= sails.config.global_data.school_name %></a>
       /
      <%=__('UpdateـSchool')%>
   </h2>

</div>


 <div class="panel panel-primary panel-padding col-md-8 col-md-offset-2" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
      <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('My_school') %></h1>
      </div>
      <div class="panel-body"  >

        <div class="col-md-4">
          <img src="<%= school.schoolLogo %>" class="img-circle" style="width:150px;height:auto">
      </div>

       <form action="/schools/<%= req.param('school_id')%>/update" method="post" id="school-form" enctype="multipart/form-data">
      <div class="col-md-8 school-form-elements">
           <p> <strong><%= __('School_Name') %> :</strong></p>
          <input type="text" name="name" class="form-control" placeholder="<%= __('School_Name') %>" value="<%= school.name %> " />
            <p> <strong><%= __('School_image') %> :</strong></p>
          <input type="file"  id="file-input"/>
          <input type="text" class="hidden" name="schoolLogo"  id="school-logo"/>
          <input type="button" value="<%= __('Update') %>" class="btn btn-default <%=req.locale == 'ar'?'pull-left' : 'pull-right'%>" id="form-submit"/>
      </div>
  </form>

      </div>

  </div>


</div>
<%var isImageMandatory = false;  var fileInput= 'file-input'; var imageUrlField = 'school-logo'; var dataForm='school-form'; var buttonSubmit='form-submit' %>

<% include ../upload.ejs %>
