<% title = "Easy Schools | " + school.name %>
<div class="col-md-12 content">



  <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check">
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>"</a> <%= sails.config.global_data.school_name %>

   </h2>

     <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>

      <div  style = "margin-top:10px">
      <a  class="btn btn-default col-md-offset-1"  href="/schools/<%= req.param('school_id') %>/update"><i class="glyphicon glyphicon-edit "></i></a>
      </div>
      <%}%>

</div>



 <h1><%= req.flash('message')%></h1>


 <div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
      <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('My_school') %></h1>
      </div>
      <div class="panel-body" style="text-align: center;">

              <div class="col-md-3">
                  <a href="/schools/<%= req.param('school_id') %>/users?type=student" class="btn btn-circle-lg btn-primary center-block"><img src="/images/student.png" class="" style="width:50px;margin-left:auto;margin-right:auto ;margin-top:-5px"></img></a>
                  <h4 class="text-primary"><%= __('Students') %></h4>
              </div>
          <div class="col-md-3">
              <a href="/schools/<%= req.param('school_id') %>/users?type=teacher&type=admin" class="btn btn-circle-lg btn-success center-block "><img src="/images/teacher.png" class="" style="width:70px;margin-left:auto;margin-right:auto ;margin-top:-8px"></img></a>
              <h4 class="text-success"><%= __('Teachers') %></h4>
          </div>
          <div class="col-md-3">
              <a href="/schools/<%= req.param('school_id') %>/years" class="btn btn-circle-lg btn-warning center-block"><span class="glyphicon glyphicon-blackboard"></span></a>
              <h4 class="text-warning"><%= __('Classes') %></h4>
          </div>
          <div class="col-md-3">
              <a href="/schools/<%= req.param('school_id') %>/announce" class="btn btn-circle-lg btn-danger center-block"><span class="glyphicon glyphicon-calendar"></span></a>
              <h4 class="text-danger"><%= __('Calendar') %></h4>
          </div>
      </div>


  </div>

<div class="panel panel-primary panel-padding col-md-2 " style="margin-left:5px">
            <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('Manage_Users') %></h1>
            </div>

                <ul class="list-group">
                  <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>
                    <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/users/new"><%= __('add_new_user') %></a></li>
                  <% } %>
                  <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>

                    <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/users/patch"><%= __('add_new_users') %></a></li>
                  <% } %>
                 <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/years/new"><%= __('add_new_division') %></a></li>

                 <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/classes/new"><%= __('add_new_class') %></a></li>
                </ul>


    </div>
</div>

<%let pageName='Master home page'%>
<% include ../shared/logger.ejs %>
