<% title = "Easy Schools | Subject Name" %>
<div class="col-md-12 content">


  <ol class="breadcrumb col-md-10 col-md-offset-1">
    <li><h1><%=sails.config.global_data.subject_name%></h1></li>
    <li class="active">Details</li>
    <!-- <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/update">Edit Subject</a></li> -->
    <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw">Homeworks</a></li>
    <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw/new">New Homework</a></li>

    <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users">Students</a></li>
  </ol>

  
  <!-- <div class="col-md-8 content-data center-block">
  </div> -->
</div>
