<% title = "Easy Schools | " + __('Subjects_assigned_to_this_Teacher') %>

<div class="col-md-12 content">


<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check ">
   <%= __('My_subjects') %>
   </h2>
</div>

 <div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" dir="<%= req.session.lang === 'ar'? 'rtl' : 'ltr'%>">
            <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%=__('Subjects')%></h1>
            </div>


      <div class="list-group" >


        <%if(classes_list!=null) {%>
       <% for (var i=0; i<classes_list.length; i++) { %>

                <% for (var j=0; j<subjects_list.length; j++) { %>

                    <%if(subjects_list[j].belongingTo ==classes_list[i].id) {%>
                      <a href="/schools/<%= req.param('school_id') %>/classes/<%= subjects_list[j].belongingTo %>/subjects/<%= subjects_list[j].id %>/users" class="list-group-item">
                        <strong> <%= __('Class') %>:</strong> <%=classes_list[i].name %>          <strong> <%= __('Subject') %>:</strong><%= subjects_list[j].name %>
                     </a>
                     <%}%>
          <% } %>

       <% } %>
    <%}%>

      </div>



  </div>




<!---
    <div class="col-md-4">
          <a href="/schools/<%= req.param('school_id') %>/announce" class="btn btn-circle-lg btn-primary center-block"><span class="glyphicon glyphicon-alert"></span></a>  <h4>Calendar</h4>
      </div>

      ---->
</div>
<%let pageName='Subject list of teacher'%>
<% include ../shared/logger.ejs %>
