<% title = "Easy Schools | " + __('New_Subject') %>
<div class="col-md-12 content">


      <!---
     <div class="col-md-7 col-md-offset-1 "">
     <a href="/schools/<%= req.param('school_id') %>"><%=sails.config.global_data.school_name%></a> - <%=sails.config.global_data.class_name%>
    </div>
      ---->

  <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= req.session.school.name %>

      </a>
      /
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">

            <%= sails.config.global_data.class_name%>
      </a>
   </h2>
</div>


 <div class="panel panel-primary panel-padding col-md-7 col-md-offset-1 " dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('New_Subject') %> </h1>
            </div>

      <form onsubmit="e.preventDefault();" id="formSubject" action="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/new" method="post">
          <div class="col-md-8  col-md-offset-2 school-form-elements" style="margin-top:20px;">
            <input id="subjectName" type="text" name="name" class="form-control" placeholder="<%= __('SubjectـName') %>" required />
            <input id="optionalId" type="checkbox" name="optional"  value="true" > Optional
            <input id="submitFormId" type="submit" id="submitFormId" value="<%= __('Create') %>" class="btn btn-default <%=req.locale == 'ar'?'pull-left' : 'pull-right'%>" onclick="disableMe(this)"/>
          </div>
          <div>

            <div class="col-md-8  col-md-offset-2" id="selectStudents" style="display : none">
              <h2 align='center'>
                Students
              </h2>
              <% for (var i=0; i<students.length; i++) { %>

                 <input type="checkbox" name="optional" class="students"  value="<%=students[i].id%>"><label style="padding: 5px"><%= students[i].firstName %> <%= students[i].lastName %></label><br />

               <% } %>
            </div>
          </div>


      </form>
    </div>

<% include ../shared/class_side_menu.ejs %>





</div>

<script>
  $('#optionalId').click(()=>{
    $('#selectStudents').slideToggle(1000);
    if($('#optionalId:checked').length > 0){
        $('#submitFormId').attr('type', 'button');
    }else{
      $('#submitFormId').attr('type', 'submit');
    }

  });

  $('#submitFormId').click(()=>{
    if($('#optionalId:checked').length === 0){
      $("#formSubject").submit(function(event) {
        console.log("form is ubmitted");
      });
    }else{
      let data = {
        name : $('#subjectName').val(),
        optional : 1
      };

      $.ajax({
       type: 'post',
        url: "/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/new",
        data: data,
        success: function(result){
          let newSubjectId = result.id;
          let studentSubjects = [];
          let checkStudents = $('.students:checked');
          for (var i = 0; i < checkStudents.length; i++) {
            studentSubjects.push({student : checkStudents[i].value, subject : newSubjectId});
          }
          $.ajax({
           type: 'post',
            url: "/api/subjects/" + newSubjectId + "/students",
            data: {enrolledStudents : studentSubjects},
            success: function(result){
              console.log(result);
              document.location = "/schools/<%=req.param('school_id')%>/classes/<%=req.param('class_id')%>/subjects"

            }
          });
        }
      });
    }

  });
</script>
<%let pageName='Create new subject'%>
<% include ../shared/logger.ejs %>
