<% title = "Easy Schools | " + __('Subjects') %>
  <div class="col-md-12 content">

 <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">


      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.session.school.id%>">
         <%= req.session.school.name %>
      </a>

   </h2>
</div>


<div class="panel panel-primary panel-padding col-md-7 col-md-offset-1 " style="">
            <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('Subjects') %></h1>
            </div>



      <ul class="list-group " style="margin-top:0px;" >
         <% for (var i=0; i<subjects_list.length; i++) { %>
          <a  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= subjects_list[i].id %>/users" class="list-group-item text-center text-capitalize">
            <strong><%= subjects_list[i].name %></strong>
          </a>

          <% } %>
      </ul>


</div>


<% include ../shared/class_side_menu.ejs %>



  </div>


</div>
<%let pageName='Listing subjects'%>
<% include ../shared/logger.ejs %>
