<div class="col-md-12 content">


   <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= req.session.school.name %>

      </a>
      /
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">

            <%= subject.class.name%>
      </a>
      /
       <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">

          <%=subject.name%>
      </a>
   </h2>
</div>

 <div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" style=" ">
   <div class="col-md-push-2 col-md-8 school-form-elements">
     <br />
       <input type="text" id="subjectName" class="form-control" placeholder="Subject Name" value="<%=subject.name%>" />

       <input type="button" id="submitFormId" value="<%= __('Update') %>" class="btn btn-default pull-right" />
       <a class="btn btn-danger pull-left" href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/delete"><%= __('Delete_Subject') %></a>
   </div>

   <%if(subject.optional){%>
   <div class="col-md-push-2 col-md-8  col-md-offset-1" id="selectStudents" >
     <h2 align='center'>
       <%= __('Students') %>
     </h2>
     <% for (var i=0; i<students.length; i++) { %>

        <input type="checkbox" name="optional" class="students" <%=enrolledStudents[students[i].id]?'checked' : ''%> value="<%=students[i].id%>"><label style="padding: 5px"><%= students[i].firstName %> <%= students[i].lastName %></label><br />

      <% } %>
   </div>
   <%}%>

 </div>
<% include ../shared/sideMenu.ejs %>
</div>






<script>
let oldCheckStudents = $('.students:checked');
$('#submitFormId').click(()=>{
    let newCheckStudents = $('.students:checked');
    let studentIds = [];
    let oldCheckStudentsIds = [];
    for (var i = 0; i < newCheckStudents.length; i++) {
      studentIds.push(newCheckStudents[i].value);
    }

    for (var i = 0; i < oldCheckStudents.length; i++) {
      oldCheckStudentsIds.push(oldCheckStudents[i].value);
    }
    let data = {
      name : $('#subjectName').val(),
      studentIds : studentIds,
      oldCheckStudentsIds : oldCheckStudentsIds
    };

    $.ajax({
     type: 'patch',

      url: "/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/update",
      data: data,
      success: function(result){
        console.log(result);
        let newSubjectId = result.id;
        let studentSubjects = [];
        document.location = "/schools/<%=req.param('school_id')%>/classes/<%=req.param('class_id')%>/subjects/<%=req.param('subject_id')%>/users";
        // $.ajax({
        //  type: 'post',
        //   url: "/api/subjects/" + newSubjectId + "/students",
        //   data: {enrolledStudents : studentSubjects},
        //   success: function(result){
        //     console.log(result);
        //     document.location = "/schools/<%=req.param('school_id')%>/classes/<%=req.param('class_id')%>/subjects"
        //
        //   }
        // });
      }
    });


});

</script>
<%let pageName='Update subject, subject name: ' + subject.name%>
<% include ../shared/logger.ejs %>
