<div class="col-md-12 content">


   <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= req.session.school.name %>

      </a>
      /
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">

            <%= classObj.name%>
      </a>
      /
       <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">

          <%=subject.name%>
      </a>
   </h2>
</div>

  <%if(subject.optional) students = subject.students; else students = users_list;%>
   <div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" >
            <div class="panel-heading" >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('Studentsـenrolled_in_the_class') %></h1>
            </div>

    <% if (students.length === 0) { %> <p> No users found </p> <% } %>
    <div class="list-group col-md-6 col-md-offset-3" style="margin-top:5px;">
    <% for (var i=0; i<students.length; i++) { %>
          <a href="#" class="list-group-item"><%= students[i].firstName %> <%= students[i].lastName %> </a>
      <% } %>
    </div>
  </div>

<% include ../shared/sideMenu.ejs %>





</div>
<%let pageName='Listing students in subject page'%>
<% include ../shared/logger.ejs %>
