<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Easy School emails</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 
 
 <style>
	 body{
		 		background-color: #F8F8F8;
	 }
	 .websitelogo{
	max-width: 190px;
	height: auto;

	 }
	 .schoollogo{
		 margin-top: 5px;
		 max-height:70px;
	 }
	
	 .navbar{

	 }
	 .navbar-top{
	 height: 90px;
	border-bottom: medium solid #0775BD;
	-webkit-box-shadow: 0px 3px 17px #CCCCCC;
	box-shadow: 0px 3px 17px #CCCCCC;
	 }
	 
	 .navbar-bot{
		 	 height: 70px;
	border-top: 1px solid #0775BD;
	-webkit-box-shadow: 0px 3px 17px #CCCCCC;
	box-shadow: 0px 3px 17px #CCCCCC;
	 }
	
	 .backgrouds h1{
	color: #0675C0;		
	padding: 15px; 
	 }
	 
	 .backgrouds{
		background-color: #F8F8F8
	 }
	  .buttons{
	background-color: #0775BD;
	color: #FFFFFF;
	border-radius: 5px;
	padding-top: 13px;
	padding-right: 30px;
	padding-bottom: 13px;
	padding-left: 30px;
	 }
	</style>
</head>

<body>

<nav class="navbar  navbar-default  navbar-top">
        <div class="container-fluid">
          <a class="navbar-brand " href="easy-school.co">
                    <img alt="easy-school" src="http://easy-school.co/images/easyschoollogo2.png" class=" col-sm-offset-2 websitelogo">
                 </a>
                          
          <a href="easy-school.co">
                    <img alt="easy-school" src="https://use-rprofiles.s3.amazonaws.com/3f3e322b-7696-4113-b64c-e2cc5979a1b1.jpg" class=" col-sm-offset-8 col-xs-offset-4 schoollogo">
                 </a>
                 
                 

  </div>
    </nav>
<div class="container-fluid">
<div class="jumbotron backgrouds">
  <h1>Hello,</h1>
  
      <h2>Your parent account has been created for easy-school . Here is your log in info :</h2>
      <h2>
      Username: <%= parent.username%><br/>
		Password: <%= parent.password %><br/>
		</h2>
      <p style="text-align: center"><a class="buttons" href="easy-school.co" role="button">Log in</a></p>
</div>	
	
</div>

<nav class="navbar navbar-default  navbar-bot navbar-fixed-bottom">
        <div class="container-fluid">
         <span class="col-md-4 col-xs-4"> <h3>Download Our App on :</h3> </span>
<div class=" "> 
          <a class="col-xs-4" href="easy-school.co">
                    <img alt="easy-school" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"  style="max-width: 100% ; max-height: 65px;;" class="img-fluid">
                 </a>
                          
          <a href="easy-school.co" class="col-xs-4">
                    <img alt="easy-school" src="http://new.cseti.org/content/images/app_store_icon.png"  style="max-width: 100% ; max-height:60px;" class="img-fluid ">
                 </a>
   </div>
            
  </div>
    </nav>
</body>
</html>