<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Easy School emails</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 
 
 <style>
	 .websitelogo{
	max-width: 170px;
	height: auto;

	 }
	
	 .navbar{
	height: 70px;
	border-bottom: medium solid #0775BD;
	-webkit-box-shadow: 0px 3px 17px #CCCCCC;
	box-shadow: 0px 3px 17px #CCCCCC;
	 }
	 
	
	 .backgrouds h1{
	color: #0675C0;		
	padding: 15px; 
	 }
	 
	 .backgrouds{
		background-color: #F8F8F8
	 }
	  .buttons{
	background-color: #0775BD;
	color: #FFFFFF;
	border-radius: 5px;
	padding-top: 13px;
	padding-right: 30px;
	padding-bottom: 13px;
	padding-left: 30px;
	 }
	</style>
</head>

<body>

<nav class="navbar navbar-default  navbar-shadow">
        <div class="container-fluid">
          <a class="navbar-brand " href="easy-school.co">
                    <img alt="easy-school" src="http://easy-school.co/images/logo1.png" class=" col-sm-offset-2 websitelogo">
                 </a>

  </div>
    </nav>
<div class="container-fluid">
<div class="jumbotron backgrouds">
 <div style="margin: 20px;">
  <h1>Hello,</h1>
  	<h2>Your child is added to your account :</h2>
       <h2>
       
		<p> Child name: <%= child.firstName%> <%= child.lastname%></p>
		</h2>
      <p style="text-align: center"><a class="buttons" href="easy-school.co" role="button">Log in</a></p>

      </div>
</div>	
	
</div>

</body>
</html>
