<div class="col-md-12">
<ul id="deletegrade" class="list-group-item col-md-6 col-md-offset-3">
 
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>	
</div>

<a class="btn btn-default">back to main menu</a>

<script type="text/javascript">
	
$(document).ready(function(){
  gradeelistdelete();    
  

});



function gradeelistdelete(){
	$("#deletegrade").html('');
	 $.ajax({
          type: 'get',
          url: "/grades?subject="+"<%=req.param('subject_id')%>",
          success: function(result){
              result.forEach(function(currentValue, index){
              		 
              		$("#deletegrade").append(` <li class="list-group-item">`+currentValue.name+`<a href="javascript:void(0)" class="glyphicon glyphicon-trash pull-right deletebtn" aria-hidden="true" ids="`+currentValue.id+`""></a>
						</li>`);

              });
              
              deletes();
          }

          });

};

function deletes(){
    $('.deletebtn').on("click",function(){
    	var idofgrade = $(this).attr("ids");
	$.confirm({
              closeIcon: true,
               backgroundDismiss: true, 
              title: 'delete grade!',
              content: 'Are you really sure that you want to delete this grade?',
              buttons: {
                  confirm: function () {
                 	  
							 $.ajax({
						          type: 'DELETE',
						          url: "/grades/"+idofgrade,
						          success: function(result){
						           
						          	gradeelistdelete();
						          }

						          });
                  },
                  cancel: function () {
                       
                  }
              }
          });



	}) ;
};


</script>