<div class="col-md-8 col-md-offset-2 content" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">

<h3><span class="label label-primary"><%= __('Add_New_Grade') %></span></h3>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><%= __('Grade_title') %></span>
  <input type="text" class="form-control required-entry" id="name" placeholder="<%= __('Grade_title') %>" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><%= __('Max_score') %></span>
  <input type="text" class="form-control required-entry number" id="maxScore" placeholder="<%= __('Max_score') %>" aria-describedby="basic-addon1">
</div>

<h4><span class="label label-primary"><%= __('Students') %></span></h4>
    <div id="studentslist" class=" ">
      <%for(let i = 0; i < students.length; i++){%>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%=students[i].firstName%> <%=students[i].lastName%></span>
          <input type="text" class="form-control required-entry number" name="score" placeholder="enter the score" aria-describedby="basic-addon1">
          <input type="text" name="student" value="<%=students[i].id%>"  hidden />
        </div>
      <%}%>

    </div>
<!-- onclick="alert('Create grade and add students grades, then back to the main view');toggleViews('part1');" -->
    <div>
        <input id="addgrage" type="button" class="btn btn-primary pull-right"  value="<%= __('Add_grades') %>"
        />
         <input type="button" class="btn  pull-right"  value="<%= __('Cancel') %>" onclick="toggleViews('tabs1');"/>
   </div>


</div>
  <div class="col-sm-8 col-md-offset-2">
      <div class="alert alert-danger" id="warning" role="alert" hidden=""><%= __('Input_all_fields') %></div>
      <div class="alert alert-danger" id="warning_number" role="alert" hidden=""><%= __('The_student_grades_should_all_be_numbers') %></div>

  </div>

<script type="text/javascript">

    // $( document ).ready(function() {
    //    $.ajax({
    //        type: 'get',
    //
    //         url: "/users?enrolledclass="+<%=req.param('class_id')%>,
    //         success: function(result){
    //            for (var i = 0; i <result.length; i++) {
    //               $("#studentslist").append(`
    //
    //               <div class="input-group">
    //                 <span class="input-group-addon" id="basic-addon1">`+result[i].firstName+"  "+result[i].lastName+`</span>
    //                 <input type="text" class="form-control required-entry number" name="score" placeholder="enter the score" aria-describedby="basic-addon1">
    //                 <input type="text" name="student" value="`+result[i].id+`"  hidden />
    //
    //               </div>
    //
    //               `)
    //           }
    //         }
    //       });
    // });



    $( "#addgrage" ).click(function() {

          var reqlength = $('.required-entry').length;
           var value = $('.required-entry').filter(function () {
              return this.value != '';
          });

          if (value.length>=0 && (value.length !== reqlength)) {
              $("#warning").show();
              return false ;
          } else {
            var flag = false;
              $('.number').each(function(i, obj) {
                    var number = obj.value;
                     if (isNaN(number))
                      {
                        $("#warning").hide();
                        $("#warning_number").show();

                        flag = true ;
                      }

              });
               if(!flag){
              $("#warning").hide();
              $("#warning_number").hide();
              ajaxcall();

               };

          }

    });

  function ajaxcall(){


           $.ajax({
           type: 'post',
            url: "/api/gra",
            data:{
              name : $('#name').val(),
              maxScore :$('#maxScore').val(),
              subject : '<%=req.param("subject_id")%>'
            },
            success: function(result){
                  var studentnames= [];
                  var studentscores = [];
                  var grades = [];
                  var gradeid = result.id;
                  $('input[name^="student"]').each(function() {
                    studentnames.push($(this).val());
                  });
                  $('input[name^="score"]').each(function() {
                    studentscores.push($(this).val());
                  });
                  for (var i = 0; i < studentscores.length; i++) {
                      grades.push({student:studentnames[i],score:studentscores[i],grade:gradeid});
                  }
                          $.ajax({
                           type: 'post',
                            url: "/api/studentgrades",
                            data:{grades:grades},
                            success: function(result2){
                                $('.required-entry').val('');
                             toggleViews('tabs1');
                            }
                          });
            }
          });
  };

</script>
