<div class="col-md-8 col-md-offset-2 content">
<h4><%= __('Grade_title') %> <span id="titleofgrade" class="label label-primary"></span></h4>
<h4><%= __('Max_score') %> <span id="scoreofgrade" class="label label-primary"></span></h4>

 <h3><span class="label label-primary"><%= __('Students') %></span></h3>

     <div id="updatelist">


    </div>
<!-- onclick="alert('Create grade and add students grades, then back to the main view');toggleViews('part1');" -->

        <input id="updategrade" type="button" class="btn btn-primary pull-right"  value="<%= __('updateـgrades') %> "
        />
        <input type="button" class="btn  pull-right"  value="<%= __('Cancel') %>" onclick="toggleViews('tabs1');"/>


</div>

<script type="text/javascript">

function updatestudentgrade(studentlist){
$('.updatebtn').on("click",function(){
	$("#updatelist").html("");
	  toggleViews("tabs3");
      var idofgrade = $(this).attr("ids");
        studentlist.forEach(function(currentValue, index){
                 for (var key in currentValue) {
                	if(key=="name"){
                		 	$("#updatelist").append(`
			                  <span  >`+currentValue[key]+`</span>`)
                	};
                    if ((currentValue.hasOwnProperty(key))&(key!='name')&(currentValue[key].id==idofgrade)) {
                    	$("#titleofgrade").html(key);
                    	$("#scoreofgrade").html(currentValue[key].max);

 						$("#updatelist").append(`
			                  <input type="text" class="form-control required-entry number"  name="updatebox" value=`+currentValue[key].grade+`
			                  idofthestudent=`+currentValue[key].studentid+`
			                  idofthegrade=`+currentValue[key].gradeid+`
			                  id=`+currentValue[key].id+`
			                  />

			            `)
                    }
                  }
        });
    });
};


$( "#updategrade" ).click(function() {
	 var newgrades=[];

	 $('input[name^="updatebox"]').each(function() {
           newgrades.push({student:$(this).attr("idofthestudent"),score:$(this).val(),id:$(this).attr("idofthegrade"),grade:$(this).attr("id")});
      });

        $.ajax({
           type: 'PUT',
            url: "/api/studentgrades",
            data:{newgrades},
            success: function(result){

             	 toggleViews('tabs1');
            }

        });

   });
</script>
