<% title = "Easy Schools | " + __('Grades') %>
<div class="col-md-12 content">
  <ol class="breadcrumb col-md-10 col-md-offset-1">
      <li><h1><a href="/">><%=sails.config.global_data.school_name%></a> - <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>"><%=sails.config.global_data.class_name%></a> - <%=sails.config.global_data.subject_name%></h1></li>
      <!-- <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">Details</a></li> -->
      <!-- <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/update">Edit Subject</a></li> -->
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw">Homeworks</a></li>
        <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw/new">New Homework</a></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users">Students</a></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/attend/new">Record Attendance</a></li>
      <li class="active">Record Grades</li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/grades/view">View Recorded Grades</a></li>

  </ol>
  <div class="col-md-8 content-data center-block">
    <form action="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/grades/new" method="post">
      <div class="col-md-8 school-form-elements">
        <label>Select students to give them a specific grade</label>
        <input type="text" name="title" placeholder="Grade Title" class="form-control grade-title" data-provide="typeahead" autocomplete="off" />
        <br>
        <% for (var i=0; i<students_list.length; i++) { %>
          <label class="checkbox student-grade">
            <input type="hidden" name="students[<%= parseInt(i) %>][id]"  value="<%= students_list[i].id %>"><%= students_list[i].firstName %> <%= students_list[i].lastName %>
            <input type="text" name="students[<%= parseInt(i) %>][grade]" placeholder="Grade" class="form-control" />
          </label>
        <% } %>
        </br>
        <input type="submit" value="Add grade" class="btn btn-default pull-right" />
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var grades = JSON.parse('<%- JSON.stringify(grades) %>')
  $('.grade-title').typeahead({
    source: Object.keys(grades),
    minLength: 0,
    showHintOnFocus: true
  })
  var students = $.find('.student-grade')
  $('.grade-title').on('keyup', function(e){
    var grade_title = $(this).val()
    if (Object.keys(grades).indexOf(grade_title)+1){
      students.forEach(function(student){
        var grade_index = _.findIndex(grades[grade_title],{
          id: $(student).find("input[type='hidden']").val()
        });
        $(student).find("input[type='number']").val(grades[grade_title][grade_index].value);
      });
    } else {
      students.forEach(function(student){
        $(student).find("input[type='number']").val('');
      });
    }
  })
</script>
