<div class="col-md-12 content">


   <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= req.session.school.name %>
      </a>
   </h2>
</div>


   <div class="panel panel-primary panel-padding col-md-9  " style=" " dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
      <div class="panel-heading >
         <h1 class="panel-title" style="font-size:16px;"><%= __('Grades') %></h1>
      </div>
   <div>

  <div id="tabs1"  class="view" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
      <!--view grade-->
       <div class=" col-md-12">
         <span href="#" style="color:#5cb85c; font-size:30px;" onclick=' toggleViews("tabs2");'><i class="glyphicon glyphicon-plus-sign pull-right"></i></span>

        <div id="demo" class=" col-xs-12 " >

            <div id="gradeslist" style="margin-bottom: 20px;" class="col-xs-12"></div>

        </div>
        <h2><%= __('Grades') %>:</h2>


        <div class="col-md-12">
          <div class="col-md-12">

            <div class="col-md-6 col-md-offset-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="<%= __('Search_for') %>" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search "></i></button>
                    </span>
                </div>
            </form>
          </div>

        </div>


        <div id="no-more-tables">
            <table class="table table-list-search col-sm-10  table-bordered table-striped table-condensed cf" id="myTable">
            <thead class="cf">
              <tr>
               </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <h6>.</h6>
    </div>

   </div>

  </div>

  <div id="tabs2" class="view" hidden="">
      <%- include grades_new.ejs %>
  </div>
  <div id="tabs3" class="view" hidden="">
     <%- include grades_update.ejs %>
  </div>
</div>





  </div>


  <% include ../shared/sideMenu.ejs %>






</div>
<script type="text/javascript">
  function toggleViews(id){
    if(id=="tabs22"){

          location.reload();
    }

    $('.view').hide();
    $('#'+id).show();
    if (id=="tabs1") {
      getstudentgrades();
    }

  };

 $( function() {
    $( "#tabs" ).tabs({
      collapsible: true
    });
  } );

  $(document).ready(function(){

    getstudentgrades();
    searchforgrage();

  });

// $(<parent>).on('<event>', '<child>', callback);
$(document).on('change', '.checkbox1', function() {
  console.log(this.value);
    var theindexofgrade =  parseInt(this.value)+2;

    if(!(this.checked)) {
      $('td:nth-child('+theindexofgrade+'),th:nth-child('+theindexofgrade+')').hide();
    } else{
      $('td:nth-child('+theindexofgrade+'),th:nth-child('+theindexofgrade+')').show();
    }
});

function getstudentgrades(){
  $('#gradeslist').html("");
  $("#myTable > tbody").html("");
  $("#myTable > thead tr ").html("");

  var student = [];
     $.ajax({
          type: 'get',
          url: "/api/studentgrades?classId="+"<%=req.param('class_id')%>"+"&subjectId="+"<%=req.param('subject_id')%>",
          success: function(result){
            console.log(result);
              result.forEach(function(currentValue, index){

                  var obj = {};
                  obj["profile"] = currentValue.profileImage;
                  obj["name"]= currentValue.firstName+"  " +currentValue.lastName;
                  currentValue.studentGrades.forEach(function(grade, index2){
                      obj[grade.grade.name]={grade:grade.score,max:grade.grade.maxScore,id:grade.grade.id,gradeid:grade.id,studentid:currentValue.id};
                  });


                  student.push(obj);

               });

            if(student.length!=0){
                $('thead tr').append(`
                         <th class="numeric"><%= __('Student_Name') %></th>
                  `);
              console.log("msh 3aref");
              console.log(student);
              var counter = 0 ;
                  for (var key in student[0]) {
                    if ((student[0].hasOwnProperty(key))&(key!='name')&(key!='profile')) {

                        $('#gradeslist').append(`
                          <div class="col-sm-4 col-xs-4">
                          <input class="checkbox1" type="checkbox" name="midterm" value=`+counter+`> `+key+`
                           ...
                          <a href="javascript:void(0)" class="glyphicon glyphicon-trash  deletebtn" style="padding:10px;" aria-hidden="true" ids="`+student[0][key].id+`""></a>
                            /
                          <a href="javascript:void(0)" class="glyphicon glyphicon-pencil updatebtn" aria-hidden="true" ids="`+student[0][key].id+`""></a>

                          </div>`
                        );
                        $('thead tr').append(`
                          <th>`+key+`</th>
                        `);
                        counter++;
                    }
                  }
                  $('thead').append(`</tr> </thead>`);
                   deletes();
                   updatestudentgrade(student);
            }

            for (var i = 0; i <student.length; i++) {
              $('#myTable > tbody:last-child').append(`<tr>`);
                        $('tr:last').append(`
                           <td data-title=name>`+`

                            <img src=`+student[i].profile +` alt="easy school" style="width:40px;height:40px;border-radius: 50%;">

                           `+
                          student[i]['name']+
                           `</td>
                        `);

                for (var key in student[i]) {
                    if ((student[i].hasOwnProperty(key))&(key!='name')&(key!='profile')) {

                      $('tr:last').append(`
                           <td data-title=`+key+`>`+student[i][key].grade+"/"+"<strong>"+student[i][key].max+"<strong>"+`</td>
                        `);
                    }
                  }
                   $('#myTable > tbody:last-child').append(`</tr>`);
              };
              $('td').hide();
              $('th').hide();
              $('td:nth-child(1),th:nth-child(1)').show();
            }
          });
}

function searchforgrage(){


     //THE START OF THE SEARCH CODE

 var activeSystemClass = $('.list-group-item.active');
    //something is entered in search form
    $('#system-search').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search tbody');
        var tableRowsClass = $('.table-list-search tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {

            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();
            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6"><%= __('No_entries_found') %>.</td></tr>');
        }
    });

    ///END OF THE SEARCH CODE
}

function deletes(){
    $('.deletebtn').on("click",function(){
       var idofgrade = $(this).attr("ids");
  $.confirm({
              closeIcon: true,
               backgroundDismiss: true,
              title: 'delete grade!',
              content: '<%= __('Are_you_really_sure_that_you_want_to_delete_this_grade') %>',
              buttons: {
                  confirm: function () {

               $.ajax({
                      type: 'DELETE',
                      url: "/api/grades/"+idofgrade,
                      success: function(result){

                        getstudentgrades();
                      }

                      });
                  },
                  cancel: function () {

                  }
              }
          });



  }) ;

};


</script>
<%let pageName='Grade page'%>
<% include ../shared/logger.ejs %>
