<div class="col-md-12 content">

<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check ">
<!--
       <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects">

          <%= sails.config.global_data.school_name %>
      </a>

      / -->
      <a style="color:#fff; text-transform:capitalize"  href="/schools/<%=req.param('school_id')%>/classes/<%=req.param('class_id') %>/subjects/<%= req.param('subject_id')%>/users/<%= req.param('user_id')%>/menu" > <%=subject.name%> </a>

   </h2>

</div>

         <nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="/schools/<%=req.param('school_id')%>/classes/<%=req.param('class_id') %>/users/<%= req.param('user_id')%>/subjects?boardItem=grades"><span aria-hidden="true">&larr;</span><%= __('Go_back_to_grades_list') %></a></li>

  </ul>
</nav>

<div class="panel panel-primary col-sm-8 col-sm-offset-2 panel-padding">
  <div class="panel-heading">
    <h3 class="panel-title" style=" text-align:<%=req.locale=='en'?'left' : 'right'%>"><%= __('My_subject_grade') %></h3>
  </div>
  <div class="panel-body">
   <div>
    <div id="no-more-tables">
      <table class="table table-list-search col-sm-10  table-bordered table-striped table-condensed cf" id="myTable">
      <thead class="cf">
        <tr>
        <td> <strong><%= __('Grade') %></strong> </td>
        <td><Strong><%= __('Score') %></Strong></td>
         </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>


  </div>
</div>



</div>


<script type="text/javascript">

$(document).ready(function(){
  console.log("dfsfds");
  console.log("<%=req.param('user_id')%>");
 $.ajax({
           type: 'get',
            url: " /api/studentgrades?studentId=XX&subjectId=XX  ",
            data:{
              studentId :  "<%=req.param('user_id')%>",
              subjectId :"<%=req.param('subject_id')%>",

            },
            success: function(result){
              console.log(result);
              result.studentGrades.forEach(function(currentValue, index){
                console.log(currentValue);
                 $('#myTable > tbody:last-child').append(`<tr>
                           <td data-title=name>`+currentValue.grade.name+`</td>
                            <td data-title=name>`+currentValue.score +"/<strong>"+currentValue.grade.maxScore+`</strong></td> </tr>
                        `);
              });
            }

          });


});

</script>
