<% title = "Easy Schools | " + __('add_new_division') %>
<div class="col-md-12 content">

<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check">
       <%= __('add_new_division') %>
   </h2>
</div>


<div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" style="margin-top:25px" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading >
                 <h1 class="panel-title"> <%= __('add_new_division') %> </j1>
            </div>
            <div class="panel-body ">
                   <form action="/schools/<%= req.param('school_id') %>/years/new" method="post">
                      <div class="col-md-8  col-md-offset-2 school-form-elements">
                          <input type="text" name="name" class="form-control" placeholder="<%= __('School_Level_Name') %>" required />
                          <input type="submit" value="<%= __('Add') %>" class="btn btn-default pull-right" />
                      </div>
                  </form>

            </div>

</div>






</div>
<%let pageName='Create new Division'%>
<% include ../shared/logger.ejs %>
