<div class="col-md-12 content">

<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check">
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>"</a> <%= sails.config.global_data.school_name %>

   </h2>


</div>



  <ol class="breadcrumb col-md-10 col-md-offset-1">
    <li class="active"><%= __('Classes') %></li>
    <li><a href="/schools/<%= req.param('school_id') %>/years/new"><%= __('New_Division') %></a></li>
    <!-- <li><a href="/schools/<%= req.param('school_id') %>/years/new">New School Level</a></li> -->
    <div class="pull-right" style="font-size:25px;margin-top:25px;">
        <!-- <a href="/schools/<%= req.param('school_id') %>/classes/remove" style="color:#d9534f"><i class="glyphicon glyphicon-remove-sign"></i></a> -->
        <a href="/schools/<%= req.param('school_id') %>/classes/new" style="color:#5cb85c"><i class="glyphicon glyphicon-plus-sign"></i></a>
    </div>
  </ol>


  <div class="col-md-8 content-class-data col-md-offset-2">
    <% if (true) { for (var j = 0; j<divisions_list.length; j++) { %>
     <div class="col-md-4">
          <div class="panel panel-primary">
        <div class="panel-heading">

        <%= divisions_list[j].name %>
          <div class="pull-right" style="font-size:18px;">
                          <a class='removediv' divid ='<%= divisions_list[j].id%>'  href="#" style="color:#d9534f"><i class="glyphicon glyphicon-remove-sign"></i></a>
                          <a  class='updatediv' href='' divname='<%= divisions_list[j].name%>' divid='<%= divisions_list[j].id%>' style="color:#5cb85c"><i class="glyphicon glyphicon-edit"></i></a>
                      </div>
         </div>
        <ul class="list-group">
            <% for (var i=0; i<divisions_list[j].classes.length; i++) { %>
                <li class="list-group-item">
                  <a href="/schools/<%= req.param('school_id') %>/classes/<%= divisions_list[j].classes[i].id %>">
                    <%= divisions_list[j].classes[i].name %>
                  </a>
                  <% if (req.user.type === 'admin' || req.user.type === 'su') { %>
                    <a href="/schools/<%= req.param('school_id') %>/classes/<%= divisions_list[j].classes[i].id %>/update" class="btn btn-xs btn-warning pull-right"><i class="glyphicon glyphicon-edit"></i></a>
                  <% } %>
                </li>

          <% } %>
        </ul>
      </div>
      </div>
      <% } }

       else {%>

      <div class="col-md-5">
          <div class="panel panel-primary">
        <div class="panel-heading"> Classes I manage </div>
        <ul class="list-group">
            <% for (var i=0; i<classes.length; i++) { %>
                <li class="list-group-item">
                  <a href="/schools/<%= req.param('school_id') %>/classes/<%= classes[i].id %>">

                    <%= classes[i].name  %>
                  </a>
                  <% if (req.user.type === 'admin' || req.user.type === 'su') { %>
                    <a href="/schools/<%= req.param('school_id') %>/classes/<%= classes[i].id %>/update" class="btn btn-xs btn-warning pull-right"><i class="glyphicon glyphicon-edit"></i></a>
                  <% } %>
                </li>
          <% } } %>
        </ul>
      </div>
      </div>
    </div>

  </div>
</div>
  <div class="col-md-offset-1 col-md-3">
  </div>
</div>



  <div class="col-md-offset-1 col-md-3">

<script>

     $(".updatediv").click(
          function myFunction() {
                  var name = $(this).attr('divname');
                   var id = $(this).attr('divid');

                  var div = prompt("enter the new division name", name);
                  if (div == null || div == "") {
                      alert("no date entered");
                  } else {
                   // alert("Hello " + name + "! How are you today?");
                          $.ajax({
                                  url: '/api/divisions/',
                                  type: 'PUT',
                                  data:{ name:div , id:id },
                                  success: function(result) {
                                       location.reload();
                                  }
                              });


                  }

              });


  $(document).ready(function(){

        var x ;
          $(".removediv").click(function(){
               x= $(this).attr('divid');
          });

          $(".removediv").confirm({
              closeIcon: true,
               backgroundDismiss: true,
              title: '<%= __('delete_division') %>',
              content: "<%= __('Are_you_really_sure_that_you_want_to_delete_this_division') %>",
              buttons: {
                  confirm: function () {
                          $.ajax({
                                  url: '/api/dvisions/'+x,
                                  type: 'delete',
                                  success: function(result) {
                                      console.log(result);
                                       location.reload();
                                  },
                                  error : function(err){
                                    console.log(err);
                                  }
                              });
                  },
                  cancel: function (result) {

                  }
              }

            });

  });

</script>
<%let pageName='Show all divisions'%>
<% include ../shared/logger.ejs %>
