<% title = "Easy Schools | " + __('Recod_Attendance') %>
  <div class="col-md-12 content">
    <ol class="breadcrumb col-md-10 col-md-offset-1">
      <li>
        <li><h1><a href="/schools/<%= req.param('school_id') %>"><%=sails.config.global_data.school_name%></a> - <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>"><%=sails.config.global_data.class_name%></a> - <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('class_id') %>/users"><%=sails.config.global_data.subject_name%></a> - <%=sails.config.global_data.student_name%></h1></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users/<%= req.param('user_id') %>/attend">Attendance</a></li>
      <li class="active">Add Attendance</li>
    </ol>


    <div class="col-md-8 content-data center-block">
      <form action="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users/<%= req.param('user_id') %>/attend/new" method="post">
        <div class="col-md-8 school-form-elements">
          <input type="date" name="date" class="form-control" placeholder="Day" required />
          <input type="radio" name="attended" value="Attended"> Attended
          <input type="radio" name="attended" value="Absent"> Absent
          <input type="submit" value="Save" class="btn btn-default pull-right" />
        </div>
      </form>
    </div>
  </div>
