<div class="col-md-12 content">

   <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= req.session.school.name %>

      </a>
      /

       <a style="color:#fff; text-transform:capitalize"  href="/schools/<%=req.param('school_id')%>/classes/<%=req.param('class_id') %>/users/<%= req.param('user_id')%>/subjects?boardItem=attend" >
         <%=subject.name%>
       </a>
   </h2>
</div>


  <div class="panel panel-primary panel-padding col-md-8 col-md-offset-2" style=" ">
      <div class="panel-heading" >
                   <h1 class="panel-title " style="font-size:16px; text-align:<%=req.locale === 'ar'?'right' : 'left'%>"><%= __('Attendance') %></h1>
      </div>
      <div class="panel-body" style="text-align: center;" dir="<%=req.locale === 'ar'? 'rtl' : 'ltr'%>">

          <p><%= __('Select_date') %> : <input type="text" id="datepicker"></p>
          <div style="display:none">
            <input type="radio" name="gender" value="male" checked="checked" id="showMonth" onclick="displayTable('showMonth')"> <%= __('show_attend_full_menoth') %>
            <input type="radio" name="gender" value="female" id="showDay" onclick="displayTable('showDay')"> <%= __('show_one_day') %>
          </div>

  <table class="table" >
     <thead>
      <tr>

        <th class="" style="text-align:left"><%= __('Date') %></th>
        <th  style="text-align:left"><%= __('Attendance') %></th>

      </tr>
    </thead>
     <tbody id="div1" style="text-align:left">
      </tbody>
  </table>

      </div>

  </div>

</div>

<script type="text/javascript">
function displayTable(itemId){
  // if($('#' + itemId).is(':checked') && itemId === 'showDay'){
  //   $('.dayAttended').show();
  //   $('.totalDays').hide();
  // }else{
  //   $('.dayAttended').hide();
  //   $('.totalDays').show();
  // }
  $("#div1").html('');

  getData('dateText', 'inst', $( "#datepicker" ));
}
$( function() {
  $( "#datepicker" ).datepicker(

  {
  onSelect: function(dateText, inst){

    getData(dateText, inst, this) ;

  }


  }

  );
});

function getData(dateText, inst, item) {

    var date = $(item).val();
    let showDay = false;
    if($('#showDay').is(':checked')){
      showDay = true;
    }


$.ajax({
    url: "/users/<%=req.param('user_id')%>/attendances?date="+date+"&subject_id=<%=req.param('subject_id')%>&showDay=" + showDay,
    success: function(results){
      let htmlCode;
      // if(showDay){
        if(results.length==0){
                $("#div1").html('There is no attendance recorded at this day');
        }else{
            $("#div1").html('');

            $.each(results,function(i,attend){
              htmlCode = '<tr><td>' +attend.date +'</td><td class="glyphicon glyphicon-ok alert-success"> </td>';
              if(results[i].attended==true){
                htmlCode = '<tr><td>' +moment(attend.date).format("dddd ,MMMM Do YYYY") +'</td><td class="glyphicon glyphicon-ok alert-success"> </td><tr/>';

                $("#div1").append(htmlCode);
              }else{
                htmlCode = '<tr><td>' +moment(attend.date).format("dddd ,MMMM Do YYYY") +'</td><td class="glyphicon glyphicon-remove  alert-danger"> </td><tr/>';

                $("#div1").append(htmlCode);
            }
          });
        }
      // }
      // else{
      //   if(results.length==0){
      //           $("#div1").html('There is no attendance recorded at this day');
      //   }else{
      //       $("#div1").html('');
      //
      //       $.each(results,function(i,student){
      //         htmlCode = '<tr><td>'+student.student.firstName+'</td><td>' +student.student.lastName +'</td><td>'+ student.attended+'</td><td>'+ student.notattended+'</td>';
      //         if(student.student.profileImage){
      //           htmlCode += '<td><img style="width:50px; height:50px;" src="' + student.student.profileImage + '"></td></tr>';
      //         }else{
      //           htmlCode += '<td></td></tr>';
      //         }
      //       $("#div1").append(htmlCode);
      //     });
      //   }
      // }




}

});

}
</script>
<%let pageName='Attendance Page, recording'%>
<% include ../shared/logger.ejs %>
