 <% title = "Easy Schools | " + __('Attendance') %>
  <div class="col-md-12 content">

 <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

    <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
       <%= req.session.school.name %>

    </a>
    /
    <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">

          <%= classObj.name%>
    </a>
    /
     <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">

        <%=subject.name%>
    </a>
   </h2>
</div>


 <div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" style=" ">
      <div class="panel-heading" >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('View_Attendance') %></h1>
      </div>
      <div>
        <br />
        <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/attend/new" class="btn btn-default pull-right"><%=__('Recod_Attendance')%></a><br/>
      </div>
      <div class="panel-body" style="text-align: center;" dir="<%=req.locale === 'ar'? 'rtl' : 'ltr'%>">

          <p><%= __('Select_date') %> : <input type="text" id="datepicker"></p>
          <div >
            <input type="radio" name="gender" value="male" id="showMonth" onclick="displayTable('showMonth')"> <%= __('show_attend_full_menoth') %>
            <input type="radio" name="gender" value="female" checked="checked" id="showDay" onclick="displayTable('showDay')"> <%= __('show_one_day') %>
          </div>
          <div class="pull-right" id="manageAttendId" style="font-size:18px;">
            <label class="updatediv" href="" divname="Div 6" divid="5" style="color:#d9534f;cursor:pointer" onclick="cancel()" ><i class="glyphicon glyphicon-remove-sign" style=" display: none"></i></label>
            <label class="updatediv" href="" divname="Div 6" divid="5" style="color:#5cb85c;cursor:pointer" onclick="edit()"><i class="glyphicon glyphicon-edit"></i></label>
          </div>
  <table class="table" >
     <thead>
      <tr>
        <th><%= __('First_name') %></th>
        <th><%= __('Last_name') %></th>
        <th id="dayAttended"><%= __('Attendance') %></th>

        <th class="totalDays" style="display: none"><%= __('total_attended_days') %></th>
        <th class="totalDays" style="display: none"><%= __('total_absence_day') %></th>
        <th ></th>
      </tr>
    </thead>
     <tbody id="div1">


      </tbody>
  </table>

      </div>

  </div>


<% include ../shared/sideMenu.ejs %>




<script>
function displayTable(itemId){
  if($('#' + itemId).is(':checked') && itemId === 'showDay'){
    $('#dayAttended').show();

    $('.totalDays').hide();
  }else{
    $('#dayAttended').hide();
    $('.totalDays').show();
  }
  // $("#div1").html('');

  getData('dateText', 'inst', $( "#datepicker" ));
}

function getData(dateText, inst, item) {

    var date = $(item).val();
    let showDay = false;
    if($('#showDay').is(':checked')){
      showDay = true;
      $('#manageAttendId').show();
    }else{
      $('#manageAttendId').hide();
    }


$.ajax({
    url: "/api/attendance?date="+date+"&subject_id="+<%=subjectid%> +"&showDay=" + showDay,
    success: function(results){
      let htmlCode;
      if(showDay){
        if(results.attends.length==0){
                $("#div1").html('There is no attendance recorded at this day');
        }else{
            $("#div1").html('');

            $.each(results.students,function(i,student){
              htmlCode = '<tr><td>'+student.firstName+'</td><td>' +student.lastName +'</td><td  id="' + results.attends[i].id + '_' + student.id + '"  class="attend glyphicon glyphicon-ok alert-success"> </td>';
              if(results.attends[i].attended==true){


                  if(student.profileImage){
                    htmlCode += '<td><img style="width:50px; height:50px;" src="' + student.profileImage + '"></td></tr>';
                  }else {
                    htmlCode += '<td></td></tr>';
                  }
                  $("#div1").append(htmlCode);

              }else{
                htmlCode = '<tr><td>'+student.firstName+'</td><td>' +student.lastName +'</td><td  id="' + results.attends[i].id + '_' + student.id + '" class="attend glyphicon glyphicon-remove  alert-danger"></td>';
                if(student.profileImage){
                  htmlCode +='<td><img style="width:50px; height:50px;" src="' + student.profileImage + '"></td></tr>'
                }else{
                  htmlCode += '<td></td></tr>';
                }
                $("#div1").append(htmlCode);

            }
          });
        }
      }else{
        if(results.length==0){
                $("#div1").html('There is no attendance recorded at this day');
        }else{
            $("#div1").html('');

            $.each(results,function(i,student){
              htmlCode = '<tr><td>'+student.student.firstName+'</td><td>' +student.student.lastName +'</td><td>'+ student.attended+'</td><td>'+ student.notattended+'</td>';
              if(student.student.profileImage){
                htmlCode += '<td><img style="width:50px; height:50px;" src="' + student.student.profileImage + '"></td></tr>';
              }else{
                htmlCode += '<td></td></tr>';
              }
            $("#div1").append(htmlCode);
          });
        }
      }
}

});

}

  $( function() {
    $( "#datepicker" ).datepicker(

    {
    onSelect: function(dateText, inst){
      console.log('alooooo');
      getData(dateText, inst, this) ;
    }


    }

    );
  });


function edit(){
    $('.attend').click((e)=>{

          const id = $(e.target).attr('id');
          const attendId = $(e.target).attr('id').split('_')[0];
          const studentId = $(e.target).attr('id').split('_')[1];
          let classes = $(e.target).attr('class');
          const type = classes.includes('alert-success') ? false : true;
          $.ajax({
                    type: 'put',
                     url: "/api/attendances/" + attendId + "?type=" + type,
                     success: function(result){
                       if(type){
                         $('#' + id).removeClass('alert-danger');
                         $('#' + id).removeClass('glyphicon-remove');
                         $('#' + id).addClass('alert-success');
                         $('#' + id).addClass('glyphicon-ok');
                       }else{

                         $('#' + id).removeClass('alert-success');
                         $('#' + id).removeClass('glyphicon-ok');
                         $('#' + id).addClass('glyphicon-remove');
                         $('#' + id).addClass('alert-danger');
                       }

                       }
                     });


    });


    $('.attend').css('cursor', 'pointer');
    $('.glyphicon-remove-sign').css('cursor', 'pointer');
    $('.glyphicon-remove-sign').show();
    $('.glyphicon-edit').hide();
}

function cancel(){
  $('.attend').unbind( "click" );
  $('.glyphicon-remove-sign').hide();
  $('.glyphicon-edit').show();
  $('.attend').css('cursor', '');
}
</script>
<%let pageName='Attendance Page, View and updating'%>
<% include ../shared/logger.ejs %>
