<% title = "Easy Schools | __('Recod_Attendance')" %>
<div class="col-md-12 content">




   <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check ">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>">
         <%= req.session.school.name %>

      </a>
      /
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">

            <%= classObj.name%>
      </a>
      /
       <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">

          <%=subject.name%>
      </a>
   </h2>
</div>


 <!--
  <ol class="breadcrumb col-md-10 col-md-offset-1">
      <li><h1><a href="/"><%=sails.config.global_data.school_name%></a> - <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>"><%=sails.config.global_data.class_name%></a> - <%=sails.config.global_data.subject_name%></h1></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>">Details</a></li> -->
      <!-- <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/update">Edit Subject</a></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw">Homeworks</a></li>
        <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw/new">New Homework</a></li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users">Students</a></li>
      <li class="active">Record Attendance</li>
      <li><a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/grades/new">Record Grades</a></li>

  </ol>
        -->

  <div class="col-md-8 content-data center-block">
  </div>
</div>
 <div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" style=" ">
      <div class="panel-heading" >
                   <h1 class="panel-title" style="font-size:16px;"><%=__('Recod_Attendance')%></h1>
      </div>
      <div class="panel-body " style="text-align: center;">

          <% include ../shared/passedMessage.ejs%>

        <div>
          <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/attend/view" class="btn btn-default pull-right"><%= __('View_Attendance') %></a><br/>
        </div>

                <form class="form-group" action="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/attend/new" method="post">

                      <div class='input-group date'>

                            <input type="text" id="datepicker"  placeholder="<%= __('Select_date') %>" name="date" class="form-control">
                          <span class="input-group-addon" style="padding: 4px 20px;">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                      <label for="users"><%= __('select_all_attend') %></label>
                      <br>

                      <%if(subject.optional)  students = subject.students; else students = students_list;%>


                      <div class="row">
                      <div class="col-md-5 col-md-offset-4" style="text-align: left">
                        <table style="list-style-type: none;">
                          <tr style="text-align: left">
                            <td>
                              <input type="checkbox"  onchange="changeStateValue(this, 'student-attend')">
                            </td>
                            <td class="checkbox">
                              <label class="checkbox">
                                <%= __('Select_all') %>
                              </label>
                            </td>
                          </tr>


                          <% for (var i=0; i<students.length; i++) { %>
                            <tr>
                              <td>
                                  <input type="checkbox" name="students[]" value="<%= students[i].id %>" class="student-attend">
                              </td>
                              <td class="checkbox">
                                <label class="checkbox">
                                  <%= students[i].firstName %>  <%= students[i].lastName %>
                                </label>
                              </td>
                              <td>
                                <%if(students[i].profileImage){%>
                                  <img src="<%= students[i].profileImage %>" alt="easy school" style="width:60px;height:60px;">
                                <%}%>
                              </td>
                            </tr>


                          <% } %>
                        </table>
                      </div>
                    </div>
                      </br>
                      <input type="submit" value="<%=__('Recod_Attendance')%>" class="btn btn-default pull-right" />

              </form>

      </div>

  </div>
<% include ../shared/sideMenu.ejs %>

<script>



  $( function() {
    $( "#datepicker" ).datepicker();

    });


</script>


<!----
<script type="text/javascript">
  $(function () {
    var dates = []
    <% Object.keys(recorded_dates).forEach(function(key,value){ %>
      dates[moment("<%= key %>").format("YYYY-MM-DD")] = JSON.parse('<%- JSON.stringify(recorded_dates[key]) %>');
    <% }) %>
    $('#datetimepicker1').datetimepicker({
      format: "YYYY-MM-DD"
    });
    $('#datetimepicker1').on('dp.change', function(e){
      var students = $.find('.student-attend');
      if (dates[e.date.format("YYYY-MM-DD")]){
        students.forEach(function(student){
          if (dates[e.date.format("YYYY-MM-DD")].indexOf($(student).val())+1)
            $(student).prop('checked', true);
          else $(student).prop('checked', false);
        });
      } else {
        students.forEach(function(student){
          $(student).prop('checked', false);
        });
      }
    });
  });
</script>

----->
<%let pageName='Attendance Page, recording'%>
<% include ../shared/logger.ejs %>
