/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 25px;
  line-height: 2.00;
  border-radius: 30px;
}

input{box-sizing:border-box}

.tooltip-inner {
    white-space: pre-wrap;
}
.fc-time{
   display : none;
}

.input-group{

  margin:20px auto;
}
.memo {
  background-color: #0b62ad;
}

.memo-text {
  padding: 7% 0%;
  color: #fff;
}



.img-front {
  z-index: 9999;
  position: absolute;
}

.login-info {
  margin-top: 4%;
}

.content {
  background-color: #fff;
  padding-bottom: 5%;
}

.content .breadcrumb {
  background-color: rgba(255,255,255,0);

}
.content-data {
  float: none;
  //margin: 0 auto;
  margin-top: 5%;
  input {
    //margin-bottom: 20px;
  }
}

.content-data img {


}
 .navbar-shadow{
 background-color: #eee;
 border: none;
 -webkit-box-shadow: 0px 8px 37px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 37px -15px rgba(0,0,0,0.75);
box-shadow: 0px 8px 37px -15px rgba(0,0,0,0.75);
  padding-bottom:20px;


 }
.navbar-toggle{
    margin-top:15px;

}
.navbar-collapse{
margin-top:8px;
font-size:18px;
 }

.websitelogo{
max-width: 270px;
    margin-top:-10px;
    height: auto;
}

.school-form-elements * {
  margin-bottom: 10px;
}




.copyright-notice {
  text-align: center;
}

.btn-rounded {
  border-radius: 30px;
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-left: -30px;
}

.remove-school {
  position: absolute;
  margin-top: -190px;
  margin-left: 170px;
}

.btn-rounded i {
  margin-left: -5px;
  margin-top: -5px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

.content-grades {
  text-align: center;
  padding: 5% 0;
  min-height: 300px;
}

.content-data .student-name {
  //margin-top: 200px;
}

.content-students .caption {
  text-align: center;
}

.content-students .thumbnail {
  border: none;
  background-color: rgba(0,0,0,0);
}

.content-students img {
  border: 8px solid #0b62ad;
}

.content-schools .caption {
  text-align: center;
}

.content-schools .thumbnail {
  border: none;
  background-color: rgba(0,0,0,0);
}

.badge {
  background-color: #0b62ad;
}
.subjects-data {
  margin: auto 0;
  margin-top: 3%;
}
.cal-day-weekend span[data-cal-date] {
  color: #333;
}
.panel-padding{
  padding-right:0px;
  padding-left:0px;
}

.schoolimage{
  max-width:200px;


}
 .check{
  color: #FFFFFF;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: center;
  font-size: xx-large;
  background-color: #337AB7;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: 0px;
  -webkit-box-shadow: 0px 0px 13px #A7A7A7;
  box-shadow: 0px 0px 13px #A7A7A7;
  }

   .error {
color: red;


  }
  #event-colors ul{
    padding: 0px
  }
