.icon-image-profile{
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 70px;
  opacity: 0.6;
  color: #fff;
  display:none
}
.image-profile-container:hover .icon-image-profile{
  display:block
}

#loader-container{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity:0.7;
  top: 0px;
  z-index: 10000;
}
.user-icon{
  float: left;
  background-color: #fff;
  position: relative;
  top: 3px;
  font-size: 80px;
   cursor: pointer;
}
