
<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check ">
      <p>Welcome</p>

   </h2>

</div>

<div class="panel panel-primary panel-padding col-md-8 col-md-offset-2" style=" ">
      <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;">Your children</h1>
      </div>
      <div class="panel-body" style="text-align: center;">


				 	<ul class="list-group" style="margin:0px;">
				 	<% for (var k=0; k<parent.children.length; k++) { %>
				 		<h3>
				 			<li class="list-group-item ">

				 			<a href="/schools/<%=parent.children[k].belongingTo%>/users/<%=parent.children[k].id%>/home?userType=student">
<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
				 			<%=parent.children[k].firstName%>


				 			</a>

				 			</li>
				 			</h3>

				 	<% } %>



					</ul>

      </div>

</div>
