<% title = "Easy Schools | " + req.session.school.name %>
<div class="col-md-12 content">



  <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check">
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>"</a> <%= sails.config.global_data.school_name %>

   </h2>

     <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>

      <div  style = "margin-top:10px">
      <a  class="btn btn-default col-md-offset-1"  href="/schools/<%= req.param('school_id') %>/update"><i class="glyphicon glyphicon-edit "></i></a>
      </div>
      <%}%>

</div>




 <div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
   <div class="col-md-7 col-md-offset-1" style="padding: 20px;">
     <form action="/schools/<%=req.session.school.id%>/users/patch" method="post" enctype="multipart/form-data">
       <%= __('Select_file_to_upload') %>:
           <input type="file" name="file" id="fileToUpload" accept=".csv">
           <br />
           <input type="submit" value="<%= __('Upload') %>" name="submit" class="btn primary-btn">
     </form>
   </div>
  </div>

<div class="panel panel-primary panel-padding col-md-2 " style="margin-left:5px">
            <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('Manage_Users') %></h1>
            </div>

                <ul class="list-group">
                  <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>
                    <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/users/new"><%= __('add_new_user') %></a></li>
                  <% } %>
                  <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>

                    <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/users/patch"><%= __('add_new_users') %></a></li>
                  <% } %>
                 <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/years/new"><%= __('add_new_division') %></a></li>

                 <li class="list-group-item"><a href="/schools/<%= req.param('school_id') %>/classes/new"><%= __('add_new_class') %></a></li>
                </ul>


    </div>
</div>

<%let pageName='Patch Insert multiple users'%>
<% include ../shared/logger.ejs %>
