<% title = "Easy Schools | " + req.session.school.name %>
<div class="col-md-12 content">



  <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check">
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>"</a> <%= sails.config.global_data.school_name %>

   </h2>

     <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>

      <div  style = "margin-top:10px">
      <a  class="btn btn-default col-md-offset-1"  href="/schools/<%= req.param('school_id') %>/update"><i class="glyphicon glyphicon-edit "></i></a>
      </div>
      <%}%>

</div>





     <table id="example" class="display" cellspacing="0" width="100%">
     <thead>
       <th style="width: 250px">
         Name
       </th>
       <th style="width: 150px";>
         Email
       </th>
       <th style="width: 150px";>
         Mobile Number
       </th>
       <th style="width: 150px";>
         Student username
       </th>
       <th style="width: 150px";>
         Student password
       </th>
       <th style="width: 150px";>
         Parent name
       </th>
       <th style="width: 150px";>
         Parent username
       </th>
       <th style="width: 150px";>
         Parent password
       </th>
     </thead>
     <tbody>

       <%for(let i = 0; i < results.length; i++){%>
        <tr>
          <td>
            <%=results[i].student.user.firstName%> <%=results[i].student.user.lastName%>
          </td>
          <td>
            <%=results[i].student.user.email%>
          </td>
          <td>
            <%=results[i].student.user.mobileNumber%>
          </td>
          <td>
            <%=results[i].student.user.username%>
          </td>
          <td>
            <%=results[i].student.user.password%>
          </td>
          <td>
            <%=results[i].parent.user.firstName%>
          </td>
          <td>
            <%=results[i].parent.user.username%>
          </td>
          <td>
            <%=results[i].parent.user.password%>
          </td>

        </tr>
       <%}%>

     </tbody>
   </table>



	<title>FooTable - A jQuery Responsive Table</title>

  <!-- Bootstrap core CSS -->
	<link href="http://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/media/css/jquery.dataTables_themeroller.css" rel="stylesheet">
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">



<script src="http://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/media/js/jquery.js"></script>
<script src="http://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/media/js/jquery.dataTables.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<!-- Initialize FooTable -->
<script>
  $(document).ready(function() {
    $('#example').dataTable( {
        jQueryUI: true
    } );
} );
</script>


<%let pageName='Creating users'%>
<% include ../shared/logger.ejs %>
