<div class="col-md-12">

 <h2 class="col-md-4 col-md-offset-4 check ">


     <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.session.school.id%>">
        <%= req.session.school.name %>
     </a>

  </h2>
</div>
<div class="panel panel-primary panel-padding col-md-8 col-md-offset-2" style=" ">
     <div class="panel-heading" >
                  <h1 class="panel-title" style="font-size:16px;">My Board</h1>
     </div>
     <div class="panel-body" style="text-align: center;">


         <div class="col-md-4">
             <a href="/schools/<%= req.param('school_id') %>/classes/<%= student.enrolledClass %>/users/<%= student.id %>/subjects?boardItem=grades" class="btn btn-circle-lg btn-primary center-block">
               <span class="glyphicon glyphicon-signal"></span>
             </a>
             <h4 class="">Grades</h4>
             <span class="glyphicons glyphicons-notes-2"></span>
         </div>
         <div class="col-md-4">

             <a href="/schools/<%= req.param('school_id') %>/classes/<%= student.enrolledClass %>/users/<%= student.id %>/subjects?boardItem=attend" class="btn btn-circle-lg btn-success center-block">
               <span class="glyphicon glyphicon-calendar"></span>
             </a>
             <h4 class=""><%= __('Attendance') %></h4>
         </div>
         <div class="col-md-4">
             <a href="/schools/<%= req.param('school_id') %>/classes/<%= student.enrolledClass %>/users/<%= student.id %>/subjects?boardItem=homework" class="btn btn-circle-lg btn-warning center-block">
               <span class="glyphicon glyphicon-paste"></span>
             </a>
             <h4 class=""><%= __('Homework') %></h4>
         </div>
         <div class="col-md-4">
             <a href="/schools/<%= req.param('school_id') %>/announce" class="btn btn-circle-lg btn-danger center-block">
               <span class="glyphicon glyphicon-alert"></span>
             </a>
             <h4 class=""><%= __('Calendar') %></h4>
         </div>
         <div class="col-md-4">
             <a href="/schools/<%= req.param('school_id') %>/classes/<%= student.enrolledClass %>/schedule" class="btn btn-circle-lg center-block" style="background-color: #34495e">
               <span class="glyphicon glyphicon-list-alt" style="color:white"></span>
             </a>
             <h4 class=""><%= __('Schedule') %></h4>
         </div>
     </div>
 </div>
