<div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" style=" ">
     <div class="panel-heading" >
                  <h1 class="panel-title" style="font-size:16px;">My Board</h1>
     </div>
     <div class="panel-body" style="text-align: center;">

         <div class="col-md-3">
             <a href="/schools/<%= req.param('school_id') %>/<%= req.user.id %>/subjects_list" class="btn btn-circle-lg btn-warning center-block"><span class="glyphicon glyphicon-book"></span></a>
             <h4 class="text-warning"><%= __('Subjects') %></h4>
         </div>
         <div class="col-md-3">
             <a href="/schools/<%= req.param('school_id') %>/announce" class="btn btn-circle-lg btn-danger center-block"><span class="glyphicon glyphicon-calendar"></span></a>
             <h4 class="text-danger"><%= __('Calendar') %></h4>
         </div>
     </div>
 </div>

 <%let pageName='Teacher home page'%>
 <% include ../shared/logger.ejs %>
