
<% title = "Easy Schools | " + __('EditـUser') %>
<div class="col-md-12 content">


 <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">

        <%= __('Editing') %> <%=  user_u.username %>

   </h2>
 </div>
  <div class="col-md-12">
   <div class="col-md-8 content-data center-block">

           <h4 style="color:red;text-align:center">
             <%= req.flash('error') %>
           </h4>
    </div>

    <div class = "col-md-6 col-md-offset-3">
            <div style="color:green;">
              <%= req.flash('message') %>
            </div>
   </div>


  </div>



 <div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" style="margin-top:25px" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading >
                 <h1 class="panel-title"> <%= __('EditـUser') %> </j1>
            </div>
            <div class="panel-body school-form-elements">


      <form    autocomplete="off" id="updateform" action="/users/<%= user_u.id%>/update" method="post">
      <div >
            <label><%= __('Username') %> :</label>
            <% if (update == true || update == "true")  { %>
              <input type="text" name="username" class="form-control" placeholder="<%= __('Username') %>" value="<%= user_u.username %>" required/>

                     <% }else{%>
                       <br/>

                       <span><%= user_u.username %></span><br/>

                      <%}%>
          <% if (update == true || update == "true")  { %>
            <div>
              <label><%= __('Password') %>:</label><br />
              <input type='button' value='<%= __('Password') %>' id="updatePassword"   class="btn btn-default pull-right"></input>
              <input type='button' value="<%= __('Dont_update_password') %>" id="dontupdatePassword" style="display:none;"   class="btn btn-default pull-right"></input>
              <div style="display:none;" id='passwordsCOntainer' >
                  <% if ( sails.config.permissionUtils.shouldISeeThis(req.user.type,  [user_u.type]))  { %>
                <input type="password" name="password" class="form-control password" placeholder="<%= __('Old_Password') %>" value=""/>
                <%} %>
                <label><%= __('NewـPassword') %>:</label>

                <input type="password" name="newPassword" class="form-control password" placeholder="<%= __('NewـPassword') %>" value=""/>
                <label><%= __('ConfirmـNewـPassword') %>:</label>

                <input type="password" class="form-control" name="confirmPassword" placeholder="<%= __('ConfirmـNewـPassword') %>" value=""/>
            </div>
          </div>
          <% }%>
          <br /><br />
          <label><%= __('First_name') %> :</label>
          <% if (update == true || update == "true")  { %>
          <input type="text" name="firstname" class="form-control" placeholder="First Name" value="<%= user_u.firstName || '' %>" required/>
          <% }else{%>
            <br/>

            <span><%= user_u.firstName || '' %></span><br/>

           <%}%>
        <div>
          <label><%= __('Full_Parent_Name') %>:</label>
          <% if (update == true || update == "true")  { %>
          <input type="text" name="lastname"  id="lastnameoftheuser" class="form-control" placeholder="Last Name" value="<%= user_u.lastName || '' %>" required/>
        </div>

          <% }else{%>
            <br/>

            <span><%= user_u.lastName || '' %></span><br/>

           <%}%>

          <label><%= __('E-mail') %> :</label>
          <% if (update == true || update == "true")  { %>
          <input type="email" name="email" class="form-control" placeholder="Email" value="<%= user_u.email || '' %>" required/>
          <% }else{%>
            <br/>

            <span><%= user_u.email || '' %></span><br/>

           <%}%>

               <label><%= __('Address') %>:</label>
               <% if (update == true || update == "true")  { %>
                 <input   type="text" name="address" value="<%= user_u.address  || '' %>" class="form-control" id="address" placeholder="<%= __('Address') %>"  />
                <%}else{%>
                  <br/>
                  <span><%= user_u.homeNumber || '' %></span><br/>
                <%}%>

               <label><%= __('Home_Number') %></label>
                <% if (update == true || update == "true")  { %>
              <input   type="text" name="homeNumber" value="<%= user_u.homeNumber  || '' %>" class="form-control" id="homeNumber" placeholder="<%= __('Home_Number') %>"  />
              <%}else{%>
                <br/>
                <span><%= user_u.address || '' %></span><br/>
              <%}%>
           </div>
           <label><%= __('MobileـNumber') %>:</label>
           <% if (update == true || update == "true")  { %>
          <input  id="phone" name="phone" class="form-control" placeholder="<%= __('MobileـNumber') %>" value="<%= user_u.mobileNumber || '' %>" required />
          <% }else{%>
            <br/>

            <span><%= user_u.mobileNumber || '' %></span><br/>

           <%}%>

<% if (user_u.type=="student")  { %>
        <%if(req.user.type === "student") {%>
          <input name="classes" class="hidden" value="<%=user_u.enrolledClass%>"/>
        <%}%>

      <div>
        <label><%= __('Parent_Email') %>:</label>

          <input type="text" name="parentemail" id="parentmail" class="form-control  <%=req.user.type==='student'?'hidden' : '' %>" placeholder="<%= __('Parent_Email') %>"  value="<%= user_u.parent.email || '' %>" required />

          <div  id="parentnamess" class="alert checkusername" role="alert" hidden> </div>

      </div>

      <div>
        <label><%= __('ParentـUsername') %>:</label>

          <input type="text" name="parentUsername" id="parentname" class="form-control <%=req.user.type==='student'?'hidden' : '' %>" placeholder="<%= __('ParentـUsername') %>"  value="<%= user_u.parent.username || '' %>" required />

          <div  id="parentname2" class="alert checkusername" role="alert" hidden> </div>
      </div>


      <div>
           <label><%= __('ParentsـMobileـNumber') %>:</label>

          <input type="text" name="parentnumber" id="parentnumber" class="form-control  <%=req.user.type==='student'?'hidden' : '' %>" placeholder="<%= __('ParentsـMobileـNumber') %>"  value="<%= user_u.parent.mobileNumber || '' %>" required />


    </div>
           <!-- <span class="<%=req.user.type==='student'?'' : 'hidden' %>"><%= user_u.parent.mobileNumber || '' %></span><br/> -->

          <%}%>

          <label for="dataOfBirth"><%= __('Birth_date') %></label>

        <% if(user_u.birthDate !=null){%>
          <% if (update == true || update == "true")  { %>
        <input type="text" name="birth" class="form-control" id="birthDateId" placeholder="<%= __('Birth_date') %>"  value="<%= user_u.birthDate%>"  />

          <% }else{%>
            <br/>

            <span><%= user_u.birthDate%></span><br/>
            <%}%>
           <%}%>

        <% if(user_u.birthDate ==null) {%>
         <label><%= __('Birth_date') %>:</label>
         <% if (update == true || update == "true")  { %>
        <input type="date" name="birth" class="form-control" id="birthDateId" placeholder="<%= __('Birth_date') %>"  value="<%= user_u.birthDate%>"  />
        <% }else{%>
          <br/>

          <span><%= user_u.birthDate%></span><br/>

         <%}%>
        <%}%>

        <% if ((req.user.type=="admin"||req.user.type=="superuser" || req.user.type=="student")&&(user_u.type==="admin" || user_u.type==="student"))  { %>
          <label for="classes"><%= __('Associated_Subjects') %></label>
          <% if ((update == true || update == "true") && user_u.type==="admin"   && sails.config.permissionUtils.shouldISeeThis(req.user.type,  [sails.config.constants.userRoles.individuals.superuser]))  { %>

          <select name="classes" id="classes" class="form-control"  multiple <%if(update  != 'true') {%> disabled<%}%>>

           <% if(divisions!=null){ %>
             <option disabled value>

                --- <%= __('Choose_class') %> ---

                 </option>

            <% for (var i=0; i<divisions.length; i++) { %>
             <% if(divisions[i].classes!=null){ %>

             <% for (var j=0; j<divisions[i].classes.length; j++) { %>

                <option value=<%=divisions[i].classes[j].id %> <% if (user_u.classes !=null && user_u.classes.includes(divisions[i].classes[j].id)) {  %> selected <% } %>>

                <%=divisions[i].name %>-<%=divisions[i].classes[j].name %>

                 </option>

              <% } %>
            <% } %>
           <% } %>
           <% } %>
          </select>
          <%}else if ((update == true || update == "true" )&& user_u.type==="student" && sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles))  { %>
          <select name="classes" id="classes" class="form-control" >
              <% for (var i=0; i<classes_list.length; i++) { %>
                  <option value=<%=classes_list[i].id %> <% if (user_u.classes !=null && _.includes(user_u.classes.toString(),classes_list[i].id)) {  %> selected <% } %> > <%=classes_list[i].name %> </option>
              <% } %>
          </select>

          <% }else if(user_u.type==="student"){%>
            <br/>
            <% for (var i=0; i<classes_list.length; i++) { %>
                <% if (user_u.classes !=null && _.includes(user_u.classes.toString(),classes_list[i].id)) {  %><span><%= classes_list[i].name%></span><br/> <% } %>
            <% } %>

            <select name="classes" id="classes" class="form-control hidden"  multiple>
                <% for (var i=0; i<classes_list.length; i++) { %>
                    <option value=<%=classes_list[i].id %> <% if (user_u.classes !=null && _.includes(user_u.classes.toString(),classes_list[i].id)) {  %> selected <% } %> > <%=classes_list[i].name %> </option>
                <% } %>
            </select>
           <%}else if(user_u.type=== sails.config.constants.userTypes.admin){%>
             <br/>
             <% for (var i=0; i<divisions.length; i++) { %>
              <% if(divisions[i].classes!=null){ %>

              <% for (var j=0; j<divisions[i].classes.length; j++) { %>

                 <% if (user_u.classes !=null && user_u.classes.includes(divisions[i].classes[j].id)) { %>
                <span>
                  <%=divisions[i].name %>-<%=divisions[i].classes[j].name %>

               </span>
               <br/>
               <%}%>

               <% } %>
             <% } %>
            <% } %>
             <%}%>
         <% } %>


<% if (user_u.type=="teacher")  { %>
        <label for="user-associate"><%= __('Associated_Subjects') %></label>
        <% if((update == true || update == "true") && divisions!=null && req.user.id !== user_u.id){ %>
           <select name="subjects" id="subjects" class="form-control <%= req.user.type === 'teacher' ? 'hidden' : '' %>" style="height:200px;"  multiple>


             <% for (var i=0; i<divisions.length; i++) { %>
              <% if(divisions[i].classes!=null){ %>
              <% for (var j=0; j<divisions[i].classes.length; j++) { %>
                 <% if(divisions[i].classes[j].subjects!=null){ %>
                 <% for (var k=0; k<divisions[i].classes[j].subjects.length; k++) { %>
                 <option value=<%=divisions[i].classes[j].subjects[k].id %>
                   <%if(user_u.subjects.includes(divisions[i].classes[j].subjects[k].id)){%>selected<%}%>><%=divisions[i].name %>-><%=divisions[i].classes[j].name %>->
                   <%=divisions[i].classes[j].subjects[k].name %>
                 </option>

                  <% } %>
                <% } %>

             <% } %>
            <% } %>
            <% } %>
           </select>
          <% }else{%>
            <br/>

            <% if(divisions!=null){ %>

                <% for (var i=0; i<divisions.length; i++) { %>
                 <% if(divisions[i].classes!=null){ %>
                 <% for (var j=0; j<divisions[i].classes.length; j++) { %>
                    <% if(divisions[i].classes[j].subjects!=null){ %>
                    <% for (var k=0; k<divisions[i].classes[j].subjects.length; k++) { %>
                      <%if(user_u.subjects.includes(divisions[i].classes[j].subjects[k].id)){%>
                    <span >

                      <%=divisions[i].name %>-><%=divisions[i].classes[j].name %>-><%=divisions[i].classes[j].subjects[k].name %>
                      <br/>
                    </span>
                    <%}%>

                     <% } %>
                   <% } %>

                <% } %>
               <% } %>
               <% } %>
            <% } %>


           <%}%>
          <% } %>

          <%if(update == true || update == "true"){%>
              <input type="submit" value="<%= __('Update') %>" class="btn btn-default pull-right" />
          <%}%>
      </div>
      <input class="hidden" name="id" value="<%=user_u.id%>"/>
      <input class="hidden" name="type" value="<%=user_u.type%>"/>
      <input class="hidden" name="school_id" value="<%=user_u.belongingTo%>"/>
    </form>
    <%if(update){%>
    <% if (req.user.type=="admin"||req.user.type=="superuser")  { %>
<!--     <form action="/users/<%= user_u.id%>/delete?type=<%=user_u.type%>&school_id=<%=user_u.belongingTo%>" method="post" id="form1">
    </form> -->
      <div style="margin:10px;">
        <button id="deletebtn" class="btn btn-danger" > <%= __('Delete_User') %></button>
        </div>

         <% } %>
    <%}%>
  </div>
</div>

</div>


 <script>
$(document).ready(function(){

  $('#updateform').validate({
    rules: {
      phone: {
        required: true,
        digits: true
      }
    }

  });
  $('#passwordsCOntainer').hide();

  $('#updatePassword').click(()=>{
    $('#passwordsCOntainer').slideToggle(1000);
    $('#updatePassword').hide();
    $('#dontupdatePassword').show();
    $('.password').val('');
  });

  $('#dontupdatePassword').click(()=>{
    $('#passwordsCOntainer').slideToggle(1000);
    $('#dontupdatePassword').hide();

    $('#updatePassword').show();
    $('.password').val('' );
  });

$("#parentmail").focusout(function() {
    if($("#parentmail").val().length!=0){

      var mailoftheuser =$("#parentmail").val();
          $.ajax({
                type:'GET',
                data:{email:mailoftheuser},
                url: "/api/users",
                success: function(result){
            if (result.length!=0) {
                $('input[type="submit"]').removeAttr('disabled');
                    if (result[0].type=='parent') {

                      $.confirm({
                          closeIcon: true,
                          backgroundDismiss: true,
                          title: 'Add to existing parent',
                          content: 'The email of the parent you enter alreary exists in the database . do you want to proceed with this parent?',
                          buttons: {
                              confirm: function () {
                                $('#parentname').val(result[0].username);
                                $('#parentnumber').val(result[0].mobileNumber);
                                var last_name =result[0].firstName+" "+result[0].lastName ;
                                 $('#lastnameoftheuser').val(last_name);
                                    $('#parentname').hide();
                                    $('#parentnumber').hide();
                                    $('#lastnameoftheuser').hide();
                          $('#parentnamess').html('added to existing parent and the username and mobile number of the parent are recorded');
                          $('#parentnamess').addClass('alert-success');
                          $('#parentnamess').removeClass('alert-danger');
                          $('#parentnamess').show();

                              },
                              cancel: function () {
                                   $("#parentmail").val('')
                              }
                          }
                      });



                    }else{

                          $('#parentnamess').html('the user email is in user but not for a parent account ...choose another one ');
                          $('#parentnamess').removeClass('alert-success');
                          $('#parentnamess').addClass('alert-danger');
                          $('#parentnamess').show();

                          $('input[type="submit"]').attr('disabled','disabled');
                    }




                    }else{
                          $('#parentnamess').html('the email is new you can proceed with new parent');
                          $('#parentnamess').addClass('alert-success');
                          $('#parentnamess').removeClass('alert-danger');
                          $('#parentnamess').show();

                          $('#parentname').val('');
                          $('#parentnumber').val('');
                          $('#lastnameoftheuser').val('');

                          $('#parentname').show();
                          $('#parentnumber').show();
                          $('#lastnameoftheuser').show();
                          $('input[type="submit"]').removeAttr('disabled');


                    }



                }
                });
    }else {
      alert("please enter the parent mail");
    }

});

<%if(user_u.type === "student"){%>

$("#parentname").focusout(function() {
    if($("#parentname").val().length!=0){
      var nameoftheuser =$("#parentname").val();
          $.ajax({
                type:'GET',
                data:{username:nameoftheuser},
                url: "/users",
                success: function(result){

            if (result.length!=0) {
                if(result[0].username !=  '<%=user_u.parent.username%>'){
                    $('#parentname2').html('the username is in use choose another one ');
                    $('#parentname2').addClass('alert-danger');
                    $('#parentname2').removeClass('alert-success');
                    $('#parentname2').show();
                    $('input[type="submit"]').attr('disabled','disabled');
                   }else {
                    $('#parentname2').hide();
                   }

                }
                else
                {
                $('#parentname2').html('the username is new you can proceed with new parent');
                $('#parentname2').addClass('alert-success');
                $('#parentname2').removeClass('alert-danger');
                $('#parentname2').show();
                  $('input[type="submit"]').removeAttr('disabled');
                }



          }
      });
    }

});

<%}%>
});


$("#deletebtn").confirm({
              closeIcon: true,
               backgroundDismiss: true,
              title: 'delete grade!',
              content: 'Are you really sure that you want to delete this grade?',
              buttons: {
                  confirm: function () {

               $.ajax({
                      type: 'POST',
                      url: "/users/<%= user_u.id%>/delete?type=<%=user_u.type%>&school_id=<%=user_u.belongingTo%>",
                      success: function(result, textStatus){
                           if (`<%=user_u.type%>` =="student") {
                            window.location.href = '/schools/<%=user_u.belongingTo%>/users?type=student';

                           }else
                           {
                              window.location.href = '/schools/<%=user_u.belongingTo%>/users?type=teacher&type=admin';
                           }

                      }

                      });
                  },
                  cancel: function (result) {
                      console.log(result);
                  }
              }

            });


  </script>
  <%let pageName='Update user page, username: ' + user_u.username%>
  <% include ../shared/logger.ejs %>
