<!-- view can work both for teachers and students, you don't have to copy it, just change the data when you are viewing it-->

  <div class="col-md-12">
   <% if(req.url.indexOf('search') === -1) { %>

  <h2 class="col-md-4 col-md-offset-4 check">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>"</a> <%= req.session.school.name %>


   </h2>
      <div class="pull-right" style="font-size:25px;margin-top:25px;">
            <a href="#" style="color:#d9534f"><i class="glyphicon glyphicon-remove-sign"></i></a>
            <a href="/schools/<%= req.param('school_id') %>/users/new" style="color:#5cb85c"><i class="glyphicon glyphicon-plus-sign"></i></a>
        </div>
   <% } %>

</div>

    <% if (users_list.length === 0) { %>
        <div class="col-sm-6 col-md-2 col-md-offset-3">
          <div class="thumbnail">
            <div class="caption">
              <% if (req.query.type === 'student') { %>
                <%= __('No_Students_in_this_school') %>
              <%}else{%>
                <%= __('No_teachers_masters_in_this_school') %>
              <%}%>
            </div>
          </div>
        </div>
    <% }  else {%>
      <h4 style="color: green; text-align: center">
        <%=req.flash('message')%>
      </h4>
    <div class="list-group ">

  </div>

<div class="panel panel-padding col-md-8 col-md-offset-2" style="text-align : <%=req.locale === 'ar'? 'right' : 'left'%>">
  <% if(req.param('type') !=='student' && sails.config.permissionUtils.shouldISeeThis(req.user.type,  [sails.config.constants.userRoles.individuals.superuser])) {%>
<a href="/logs?schoolId=<%=req.session.school.id%>"> <%= __('download_sheet') %></a>
  <%}else if(req.param('type') !=='student'){%>
    <a href="/logs"> <%= __('download_sheet') %></a>
    <%}%>
</div>
<div class="col-md-8 col-md-offset-2" style="padding:20px">
  <input class="form-control" id="system-search" name="q" placeholder="<%= __('Search_for') %>" required>
</div>



<div class="panel panel-primary panel-padding col-md-8 col-md-offset-2">

  <div class="panel-heading">
    <%if(req.param('type')=='student') { %>

     <h1 class="panel-title"><%= __('Students') %></h1>

    <%} else {%>
    <h1 class="panel-title"><%= __('Teachers') %></h1>

    <%}%>

  </div>

  <table  class="table table-list-search col-sm-10  table-bordered table-striped table-condensed cf" id="myTable">
     <thead>
      <tr>
        <th><%= __('First_name') %></th>
        <th><%= __('Last_name') %></th>

        <th></th>

         <%if(users_list[0].type=='admin' | users_list[0].type=='teacher') {%>
          <th><%= __('User_Role') %></th>
         <%}%>

        <th><%= __('UserـOptions') %></th>
      </tr>
    </thead>
     <tbody>

    <% for (var i=0; i<users_list.length; i++){ %>

      <tr class="text-capitalize">
        <td ><p id="ID<%= users_list[i].id%>" class="testing"   indexoftheuser="<%=i%>"><%= users_list[i].firstName %></p></td>
        <td   ><%= users_list[i].lastName %></td>
        <td>
          <%if(users_list[i].profileImage){%>
            <img src="<%=users_list[i].profileImage%>" alt="Mountain View" style="width:70px;height:70px;">
          <%}%>
        </td>
        <%if(users_list[i].type=='admin') {%>
        <td><%= __('Master') %></td>
        <%} else if (users_list[i].type=='teacher') {%>
        <td><%= __('Teacher') %></td>
        <%}%>

       <td>
         <%if(users_list[i].type=='teacher' || users_list[i].type=='student' || req.user.type === 'superuser'){%>
           <a href="/users/<%= users_list[i].id%>/update?update=true" class="btn btn-success"><%= __('Update') %></a>
        <%}%>
        <%if(users_list[i].type=='student'){%>
        <a href="/users/<%= users_list[i].parent%>/update?update=true" class="btn btn-success"><%= __('UpdateـParent') %></a>
        <%}%>
        <a href="/users/<%= users_list[i].id%>/update" class="btn btn-primary"><%= __('View') %></a>
      </td>
      </tr>

    <% } %>


      </tbody>
  </table>
</div>


  </div>

  <%}%>




</div>


<script type="text/javascript">

  $("document").ready(function(){

    (function searchforgrage(){


         //THE START OF THE SEARCH CODE

     var activeSystemClass = $('.list-group-item.active');
        //something is entered in search form
        $('#system-search').keyup( function() {
           var that = this;
            // affect all table rows on in systems table
            var tableBody = $('.table-list-search tbody');
            var tableRowsClass = $('.table-list-search tbody tr');
            $('.search-sf').remove();
            tableRowsClass.each( function(i, val) {

                //Lower text for case insensitive
                var rowText = $(val).text().toLowerCase();
                var inputText = $(that).val().toLowerCase();
                if(inputText != '')
                {
                    $('.search-query-sf').remove();
                    tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                        + $(that).val()
                        + '"</strong></td></tr>');
                }
                else
                {
                    $('.search-query-sf').remove();
                }

                if( rowText.indexOf( inputText ) == -1 )
                {
                    //hide rows
                    tableRowsClass.eq(i).hide();
                }
                else
                {
                    $('.search-sf').remove();
                    tableRowsClass.eq(i).show();
                }
            });
            //all tr elements are hidden
            if(tableRowsClass.children(':visible').length == 0)
            {
                tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6"><%= __('No_entries_found') %>.</td></tr>');
            }
        });

        ///END OF THE SEARCH CODE
    })();


    var myProfile;

      // $(".testing").mouseover(function(){
      //   var x =  $(this).attr('indexoftheuser');
      //   var data = $(this).attr('data').split(',');
      //   console.log(data);
      //    myProfile = {
      //       "name": data[0] + " " + data[1],
      //       "bio": data[3],
      //       "email": data[2]
      //   };
      //   console.log($(this).attr("indexoftheuser"));
      //   $(this).hovercard({
      //       // detailsHTML : "<h1>bassel</h1>"
      //       showCustomCard: true,
      //       customCardJSON: myProfile,
      //       // width: 400
      //  });
      //
      // });


  });

  <% for (var i=0; i<users_list.length; i++){ %>
    {
      let html = "<h5><%= __('Full_name') %>: <%=users_list[i].firstName%> <%=users_list[i].lastName%></h5>"+
                 "<h5><%= __('Username') %>: <%=users_list[i].username%></h5>"+
                 "<h5><%= __('Email') %>: <%=users_list[i].email%></h5>"<%if(users_list[i].enrolledClass){%> + "<H5><%= __('Class') %>: <%=users_list[i].enrolledClass.name%></H5>"<%}%>


    $("#ID<%= users_list[i].id%>").hovercard({
            detailsHTML: html,
            width: <%= users_list[i].profileImage? 400 : 300%>,
            cardImgSrc: '<%= users_list[i].profileImage%>'
        });
    }
  <%} %>

</script>
<%let pageName='List users, ' + req.query.type%>
<% include ../shared/logger.ejs %>
