<div class="col-md-12 content">

<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check ">

       <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.session.school.id %>/classes/<%= req.param('class_id') %>/subjects">

          <%= req.session.school.name %>
      </a>
      /
      <a style="color:#fff; text-transform:capitalize" href="#"> <%=subject.name%> </a>

   </h2>

</div>



 <div class="panel panel-primary panel-padding col-md-10 col-md-offset-1" style=" ">
      <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;">Subject details</h1>
      </div>
      <div class="panel-body" style="text-align: center;">

    <div class="col-md-3">
        <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users/<%= req.param('user_id') %>/grades" class="btn btn-circle-lg btn-primary center-block">
          <span class="glyphicon glyphicon-signal"></span>
        </a>
        <h4>Grades</h4>
    </div>
    <div class="col-md-3">
        <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/users/<%= req.param('user_id') %>/attend" class="btn btn-circle-lg btn-success center-block"><span class="glyphicon glyphicon-calendar"></span></a>
        <h4>Attendance</h4>
    </div>
    <div class="col-md-3">
        <a href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id') %>/subjects/<%= req.param('subject_id') %>/hw" class="btn btn-circle-lg btn-warning center-block"><span class="glyphicon glyphicon-paste"></span></a>
        <h4>Homework</h4>
    </div>
      <div class="col-md-3">
          <a href="/schools/<%= req.param('school_id') %>/announce" class="btn btn-circle-lg btn-danger center-block"><span class="glyphicon glyphicon-alert"></span></a>
          <h4>Calendar</h4>
      </div>
      </div>


  </div>






</div>
