<% title = "Easy Schools | " + __('add_new_user') %>
  <div class="col-md-12 content">
  <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check">

     <%= __('add_new_user') %>

   </h2>


</div>





    <div class="col-md-8 content-data center-block">


 <div class = "col-md-6 col-md-offset-3">
         <div style="color:green; text-align: center" id="msgs">
            <%= req.flash('message') %>
         </div>
  </div>


 <div class="panel panel-primary panel-padding col-md-10 col-md-offset-1" style="margin-top:25px" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading" >
                 <h1 class="panel-title"> <%= __('add_new_user') %></h1>
            </div>
            <div class="panel-body    school-form-elements">

              <form action="/schools/<%= req.param('school_id') %>/users/new" method="post" enctype="multipart/form-data" id="signupform">
                  <div class="">

             <label for="user-role"><%= __('PleaseـSelect') %></label>
          <select name="user-role" id="user-role" class="form-control" required >
            <option value=""><%= __('PleaseـSelect') %></option>
            <option value="admin"><%= __('SchoolـMaster') %></option>
            <option value="teacher"><%= __('Teacher') %></option>
            <option  value="student"><%= __('Student') %></option>
          </select>

            <!--user name -->
            <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('Username') %></span>
             <input type="text" name="username" class="form-control" placeholder="<%= __('Username') %>" style="text-transform:capitalize"  id="username" required/>
           </div>

           <div  id="user" class="alert checkusername" role="alert" hidden> </div>

            <!--First name -->
           <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('First_name') %></span>
              <input type="text" name="firstname" class="form-control" placeholder="<%= __('First_name') %>" style="text-transform:capitalize" required />
           </div>
           <!--Last name-->
           <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('Full_Parent_Name') %></span>
              <input type="text" name="lastName" class="form-control" placeholder="<%= __('Full_Parent_Name') %>" style="text-transform:capitalize"  id="lastnameoftheuser" required />
           </div>

           <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><%= __('Profile_Image') %></span>
              <input type="file" id="file-input" class="form-control" style="text-transform:capitalize"    />
              <input type="text" id="profile-image" class="hidden" name="profileImage"/>
           </div>

           <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('E-mail') %></span>
               <input type="email" name="email" class="form-control" placeholder="Email" style="text-transform:capitalize"  id="emailinput" required />
           </div>
           <div  id="email" class="alert checkusername" role="alert" hidden> </div>

           <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('MobileـNumber') %></span>
              <input   type="text" name="phone" class="form-control" id="phonenumbers" placeholder="<%= __('MobileـNumber') %>" required />
           </div>
           <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('Address') %></span>
              <input   type="text" name="homeNumber" class="form-control" id="address" placeholder="Address" required />
           </div>
           <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('Home_Number') %></span>
              <input   type="text" name="address" class="form-control" id="homeNumber" placeholder="<%= __('Home_Number') %>" required />
           </div>
            <div class="input-group">
               <span class="input-group-addon" id="basic-addon1"><%= __('Birth_date') %></span>
               <input type="date" name="birth" class="form-control" id="dateOfBirth" placeholder="<%= __('Birth_date') %>" required />
           </div>



<div id="StudentDivId" hidden>


          <!--  <div id="new_parent" hidden>-->

            <div class="input-group">
               <span class="input-group-addon" id="basic-addon12"  > <%= __('ParentـUsername') %></span>
               <input type="text" name="parentUsername" class="form-control" placeholder="<%= __('ParentـUsername') %>" style="text-transform:capitalize" id="parentname"   />
            </div>
            <div  id="parentnamess" class="alert checkusername" role="alert" hidden> </div>

              <div class="input-group">
               <span class="input-group-addon" id="basic-addon12"  > <%= __('Parent_Email') %></span>
               <input type="email" name="parentemail" class="form-control" placeholder="<%= __('Parent_Email') %>" style="text-transform:capitalize" id="parentmail"   />

               <div  id="emailparent" class="alert checkusername" role="alert" hidden> </div>
           </div>
            <div  id="parentmailss" class="alert checkusername" role="alert" hidden> </div>
           <div class="input-group">
               <span class="input-group-addon" id="basic-addon2"  > <%= __('ParentsـMobileـNumber') %></span>
               <input type="text" name="parentnumber" class="form-control" placeholder="<%= __('ParentsـMobileـNumber') %>" id="parentnumber"   />
           </div>



        </div>



      <div id="SubjectsDivId" hidden>
         <label for="user-associate"><%= __('Associated_Subjects') %></label>
            <select name="subjects" id="subjects" class="form-control" style="height:200px;"  multiple>

             <% if(divisions!=null){ %>
              <% for (var i=0; i<divisions.length; i++) { %>
               <% if(divisions[i].classes!=null){ %>
               <% for (var j=0; j<divisions[i].classes.length; j++) { %>
                  <% if(divisions[i].classes[j].subjects!=null){ %>
                  <% for (var k=0; k<divisions[i].classes[j].subjects.length; k++) { %>
                  <option value=<%=divisions[i].classes[j].subjects[k].id %> ><%=divisions[i].name %>-><%=divisions[i].classes[j].name %>-><%=divisions[i].classes[j].subjects[k].name %> </option>
                   <% } %>
                 <% } %>
                <% } %>
              <% } %>
             <% } %>
             <% } %>
            </select>
     </div>


         <div id="ClassesDivId" hidden>
          <label for="classes"><%= __('Associated_Classes') %></label>
            <select name="classes" id="classes" class="form-control"   >

             <% if(divisions!=null){ %>
               <option disabled selected value>

                  --- <%= __('Choose_class') %> ---

                   </option>

              <% for (var i=0; i<divisions.length; i++) { %>
               <% if(divisions[i].classes!=null){ %>

               <% for (var j=0; j<divisions[i].classes.length; j++) { %>

                  <option value=<%=divisions[i].classes[j].id %> >

                  <%=divisions[i].name %>-<%=divisions[i].classes[j].name %>

                   </option>

                <% } %>
              <% } %>
             <% } %>
             <% } %>
            </select>
        </div>



            <input  id="submit_button" type="button" value="<%= __('Create') %>" class="btn btn-default pull-right" />
        </div>
      </form>

          </div>
    </div>



    </div>
  </div>

<script>

var flags;

function ajaxusercheck(nameoftheuser ,success,failure,divid,flag){
    flag =false;
  $.ajax({
            type:'GET',
            data:{username:nameoftheuser},
            url: "/api/users",
            success: function(result){

                if (result.length!=0) {
                    $(divid).html(success);
                    $(divid).removeClass('alert-success');
                    $(divid).addClass('alert-danger');
                    $(divid).show();
                    $(divid).prop('disabled', true);
                    flag= true;
                    $('input[type="submit"]').attr('disabled','disabled');
                }else{
                    $(divid).html(failure);
                    $(divid).removeClass('alert-danger');
                    $(divid).addClass('alert-success');
                    $(divid).show();
                    $(divid).prop('disabled', false);
                    flag =false;
                    $('input[type="submit"]').removeAttr('disabled');
                }
            }
        });
};

function mailcheck(mail ,success,failure,divid,flag){
    flag =false;
  $.ajax({
            type:'GET',
            data:{email:mail},
            url: "/api/users",
            success: function(result){
                if (result.length!=0) {
                    $(divid).html(success);
                    $(divid).removeClass('alert-success');
                    $(divid).addClass('alert-danger');
                    $(divid).show();
                    $(divid).prop('disabled', true);
                    flag= true;
                    $('input[type="submit"]').attr('disabled','disabled');
                }else{
                    $(divid).html(failure);
                    $(divid).removeClass('alert-danger');
                    $(divid).addClass('alert-success');
                    $(divid).show();
                    $(divid).prop('disabled', false);
                    flag =false;
                    $('input[type="submit"]').removeAttr('disabled');
                }
            }
        });
};


$(document).ready(function(){

            $("#parentname").focusin(function() {
                $('#parentmail').val('');
                $('#parentnumber').val('');
                $('#parentmail').parent().show();
                $('#parentnumber').parent().show();
                $('#lastnameoftheuser').parent().show();
            });

           $("#parentname").focusout(function() {
                    if($("#parentname").val().length!=0){
                      var nameoftheuser =$("#parentname").val();
                          $.ajax({
                                type:'GET',
                                data:{username:nameoftheuser},
                                url: "/api/users",
                                success: function(result){
                                  console.log(result);
                            if (result.length!=0) {
                                    if (result[0].type=='parent') {
                                      console.log(result[0]);
                                      $.confirm({
                                          closeIcon: true,
                                          backgroundDismiss: true,
                                          title: 'Add to existing parent',
                                          content: 'The username of the parent you enter alreary exists in the database . do you want to proceed with this parent?<br>'+"<strong>Name : </strong>"+result[0].firstName + " " + result[0].lastName +'<br> <strong> He has : </strong>'+ result[0].children.length + " children"+ "<br> <strong> name of the child :</strong> " +result[0].children[0].firstName+" "+result[0].children[0].lastName  ,
                                          buttons: {
                                              confirm: function () {
                                                $('#parentmail').val(result[0].email);
                                                $('#parentnumber').val(result[0].mobileNumber);
                                                var last_name =result[0].firstName+" "+result[0].lastName ;
                                                $('#lastnameoftheuser').val(last_name);
                                                    $('#parentmail').parent().hide();
                                                    $('#parentnumber').parent().hide();
                                                    $('#lastnameoftheuser').parent().hide();
                                                     $('input[type="submit"]').removeAttr('disabled');
                                              },
                                              cancel: function () {
                                                   $("#parentname").val('')
                                              }
                                          }
                                      });
                                    }else{

                                          $('#parentnamess').html('the user name is in user but not for a parent account ...choose another one ');
                                          $('#parentnamess').removeClass('alert-success');
                                          $('#parentnamess').addClass('alert-danger');
                                          $('#parentnamess').show();

                                          $('input[type="submit"]').attr('disabled','disabled');
                                    }
                                    }else{
                                          $('#parentnamess').html('the username is new you can proceed with new parent');
                                          $('#parentnamess').addClass('alert-success');
                                          $('#parentnamess').removeClass('alert-danger');
                                          $('#parentnamess').show();

                                          $('input[type="submit"]').removeAttr('disabled');


                                    }
                                }
                            });
                     }

                });

           //check using  the parentmail
            $("#parentmail").focusin(function() {

                $('#parentname').parent().show();
                $('#parentnumber').parent().show();
                $('#lastnameoftheuser').parent().show();
            });

           $("#parentmail").focusout(function() {
                    if($("#parentmail").val().length!=0){
                      var mailoftheuser =$("#parentmail").val();
                          $.ajax({
                                type:'GET',
                                data:{email:mailoftheuser},
                                url: "/users",
                                success: function(result){
                                  console.log(result);
                            if (result.length!=0) {
                                    if (result[0].type=='parent') {
                                      $.confirm({
                                          closeIcon: true,
                                          backgroundDismiss: true,
                                          title: 'Add to existing parent',
                                          content: 'The username of the parent you enter alreary exists in the database . do you want to proceed with this parent?<br>'+"<strong>Name : </strong>"+result[0].firstName + " " + result[0].lastName +'<br> <strong> He has : </strong>'+ result[0].children.length + " children"+ "<br> <strong> name of the child :</strong> " +result[0].children[0].firstName+" "+result[0].children[0].lastName  ,
                                          buttons: {
                                              confirm: function () {
                                                $('#parentname').val(result[0].username);
                                                $('#parentnumber').val(result[0].mobileNumber);
                                                var last_name =result[0].firstName+" "+result[0].lastName ;
                                                $('#lastnameoftheuser').val(last_name);
                                                    $('#parentname').parent().hide();
                                                    $('#parentnumber').parent().hide();
                                                    $('#lastnameoftheuser').parent().hide();
                                                     $('input[type="submit"]').removeAttr('disabled');
                                              },
                                              cancel: function () {
                                                   $("#parentname").val('')
                                              }
                                          }
                                      });
                                    }else{

                                          $('#parentmailss').html('the user name is in user but not for a parent account ...choose another one ');
                                          $('#parentmailss').removeClass('alert-success');
                                          $('#parentmailss').addClass('alert-danger');
                                          $('#parentmailss').show();

                                          $('input[type="submit"]').attr('disabled','disabled');
                                    }
                                    }else{
                                          $('#parentmailss').html('the username is new you can proceed with new parent');
                                          $('#parentmailss').addClass('alert-success');
                                          $('#parentmailss').removeClass('alert-danger');
                                          $('#parentmailss').show();

                                          $('input[type="submit"]').removeAttr('disabled');


                                    }
                                }
                            });
                     }

                });

           //end of check using the parent mail

    });


    $("#username").focusout(function() {
        var nameoftheuser =$("#username").val();
        if($("#username").val().length!=0){
            ajaxusercheck(nameoftheuser,'please choose another username as it exists' , 'you can use this user name ',"#user" , flags);
        }

    });

    $('#signupform').validate({
      rules: {
        phonenumbers: {
          required: true,
          digits: true
        }
      }

    });


    $("#emailinput").focusout(function() {
         var emal =$("#emailinput").val();
        if($("#emailinput").val().length!=0){
            mailcheck(emal,'please choose another email as it exists' , 'you can use this email address ',"#email" , flags);
        }

    });

    // $("#parentmail").focusout(function() {
    //      var emal =$("#parentmail").val();
    //     if($("#parentmail").val().length!=0){
    //         mailcheck(emal,'please choose another email  for the parent as it exists' , 'you can use this email address for the parent',"#emailparent" , flags);
    //     }
    // });


      $('#user-role').on('change', function(e){
        $(this).closest('form').find("input[type=text], textarea").val("");
        $('.alert').hide();
        if($(this).find(':selected').val() === "teacher"){

          $('#SubjectsDivId').show();
          $('#ClassesDivId').hide();
           $('#StudentDivId').hide();

           $('#subjects').attr('required', true);

           $('#parentname').attr('required', false);
           $('#parentnumber').attr('required', false);
           $('#parentmail').attr('required', false);
            $('#class').attr('required', false);

        }
       else if($(this).find(':selected').val() === "student"){
          $('#SubjectsDivId').hide();
          $('#ClassesDivId').show();
           $('#StudentDivId').show();

           $('#parentname').attr('required', true);
           $('#parentnumber').attr('required', true);
           $('#parentmail').attr('required', true);
            $('#class').attr('required', true);
            $('#classes').attr('multiple', false);
            $('#subjects').attr('required', false);

        }

       else if($(this).find(':selected').val() === "admin"){
           $('#SubjectsDivId').hide();
          $('#ClassesDivId').show();
           $('#StudentDivId').hide();

            $('#classes').attr('required', true);
             $('#classes').attr('multiple', true);

           $('#subjects').attr('required', false);

           $('#parentname').attr('required', false);
           $('#parentnumber').attr('required', false);
           $('#parentmail').attr('required', false);


        }
        else{

          $('#SubjectsDivId').hide();
          $('#ClassesDivId').hide();
          $('#StudentDivId').hide();
        }

      });




      let textMsgs = $( "#msgs" ).text();

      $( "#msgs" ).empty();
      let msgs = textMsgs.split(',');
      for(let i = 0; i < msgs.length; i++){
        $("#msgs").append("<div>" + msgs[i] + "</div>");
      }


</script>
<% var isImageMandatory = false; var fileInput= 'file-input'; var imageUrlField = 'profile-image'; var dataForm='signupform'; var buttonSubmit='submit_button' %>

<% include ../upload.ejs %>
