
<div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" style="margin-top:25px" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading ">
                 <h1 class="panel-title">Reset The Password</h1>
            </div>
            <div class="panel-body col-md-8 col-md-offset-2">
            
                <form action="/auth/forget-password" method="post">
                  <span style="font-size:20px">Reset Password by</span>
                  <select onchange="changePropertyName(this)">
                   <option value="email"><%= __('Email') %></option>
                   <option value="username"><%= __('Username') %></option>
                   <option value="mobileNumber"><%= __('Mobile_number') %></option>
                </select> <br><br>
                  <input  name="email" id="input" placeholder="Enter Your Email" style="margin-right: 10px;" />  
                  <input type="submit" value="  <%= __('send_email') %>" class="btn btn-primary"/>
                </form>

            </div>


</div>            
 

<script>
  function changePropertyName(element){
    $('#input').attr( 'name', element.value )
  }

</script>
