<div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" style="margin-top:25px" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading ">
                 <h1 class="panel-title">Reset The Password</h1>
            </div>
            <div class="panel-body col-md-8 col-md-offset-2">
                <%if(typeof message !== 'undefined' && message.error){%>
                  <h2 style="color: red">
                    <%=message.error.message.en%><br />
                    <%=message.error.message.ar%>
                  </h2>
                <%}%>

                <form action="/auth/reset-password" method="post">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Password</span>
                  <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Confirm Password</span>
                  <input type="password" class="form-control"  name="confirmPassword" placeholder="Confirm Password" aria-describedby="basic-addon1">
                </div>

               <!--    <input type="password" name="password" placeholder="Password"/><br />
                  <input type="password" name="confirmPassword" placeholder="Confirm Password"/> -->
                  <input type="text" class="hidden" name="token" value="<%=req.query.token%>"/>
                  <input type="submit" value="Reset" class="btn btn-primary"/>
                </form>
            </div>


</div>            
 
