
<div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" style="margin-top:25px" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading ">
                 <h1 class="panel-title">Reset The Password</h1>
            </div>
            <div class="panel-body col-md-8 col-md-offset-2">

             <%if(message.error){%>
                <h2 style="color: red">
                  <%= __(message.error.code) %>

                </h2>
              <%}%>

              <%if(message.success){%>
                <h2 style="color: green">
                  <%= __(message.success.code) %>
                </h2>
              <%}%>

            </div>

</div>
