
<% title = "Easy Schools | " + __('New_class') %>
<div class="col-md-12 content">
      <div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check">
         <a style="color:#fff; text-transform:capitalize" href="/schools/<%= req.param('school_id') %>"</a><%=req.session.school.name%>

      </a>
       /
       <%= __('add_new_class') %>
   </h2>
</div>

<div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
            <div class="panel-heading" >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('add_new_class') %></h1>
            </div>

  <div class="panel-body"  >

    <form id="classFormId" name="classForm" action="/schools/<%=req.param('school_id')%>/classes/new" method="post" >
           <div class="school-form-elements">

              <label><%= __('Division') %></label>
              <select id="divisionId" name="division" class="form-control" required>
                 <option id="item0" value=0> <%= __('PleaseـSelect') %></option>
                  <% for (var i=0; i<divisions_list.length; i++) { %>
                <option id="item<%=divisions_list[i].id %>" value="<%=divisions_list[i].id %>">
                                 <%= divisions_list[i].name %> </option>
                  <% } %>
              </select>
              <label><%= __('Class_Name') %></label>
               <input type="text" class="form-control" name="name" placeholder="<%= __('Class_Name') %>" required />

              <label><%= __('Schedule') %></label>
               <input  type="file"  required  id="file-input"/>
               <input  type="text" class="hidden" name="schedule" required  id="class-logo"/>
              <input type="button" value="<%= __('Save') %>" id="submitId" class="btn btn-default pull-right" />

         </div>
        </form>
    </div>
  </div>
</div>

<script>



</script>
<%var isImageMandatory = true;  var fileInput= 'file-input'; var imageUrlField = 'class-logo'; var dataForm='classFormId'; var buttonSubmit='submitId' %>

<% include ../upload.ejs %>
<%let pageName='Create new class'%>
<% include ../shared/logger.ejs %>
