<% title = "Easy Schools | " + __('EditـClass') %>
<div class="col-md-12 content">


    <div class="col-md-12">

      <h2 class="col-md-4 col-md-offset-4 check">

        <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.session.school.id%>">
           <%= req.session.school.name %>
        </a>
        /
        <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">
              <%= class_found.name%>
        </a>
     </h2>
  </div>

  <div class="panel  panel-padding col-md-7 col-md-offset-1" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">

    <div class="col-md-12 content">
      <div class="col-md-8 content-data center-block">
          <form id="classFormId" action="/schools/<%= req.param('school_id')%>/classes/<%=req.param('class_id')%>/update" method="post" >
          <div class="col-md-8 school-form-elements">
              <input type="text" name="name" value="<%=class_found.name%>" class="form-control" placeholder="<%= __('Class_Name') %>" />
               <label><%= __('Schedule') %></label>
              <input type="file" class="form-control" id="file-input"/>
              <input type="text" class="hidden" name="schedule" id="class-logo"/>
              <input type="button" id="submitId" value="<%= __('Update') %>" class="btn btn-default pull-right" />
          </div>
      </form>
      </div>
    </div>

    <form action="/schools/<%= req.param('school_id')%>/classes/<%=req.param('class_id')%>/remove" method="post" id="form1">
        </form>
    <button type="submit" form="form1" value="Submit"><%= __('Delete_Class') %></button>
    </div>
<% include ../shared/class_side_menu.ejs %>

</div>

<%var isImageMandatory = false;  var fileInput= 'file-input'; var imageUrlField = 'class-logo'; var dataForm='classFormId'; var buttonSubmit='submitId' %>

<% include ../upload.ejs %>
<%let pageName='Update class, class name: ' + class_found.name%>
<% include ../shared/logger.ejs %>
