<% title = "Easy Schools | " + class_found.name %>
<div class="col-md-12 content">




    <div class="col-md-12">

  <h2 class="col-md-4 col-md-offset-4 check">

      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.session.school.id%>">
         <%= req.session.school.name %>
      </a>
      /
      <a  style="color:#fff; text-transform:capitalize"  href="/schools/<%= req.param('school_id') %>/classes/<%= req.param('class_id')%>">
            <%= class_found.name%>
      </a>
   </h2>
</div>

<div class="panel panel-primary panel-padding col-md-7 col-md-offset-1" style=" ">
            <div class="panel-heading" >
                   <h1 class="panel-title" style="font-size:16px;">Schedule</h1>
            </div>

    <form>
      <div  >
          <img src="<%= class_found.schedule %>" style="width:500px;height:auto;margin:15px;">
      </div>
    </form>
  </div>

<div>

</div>
  <% include ../shared/class_side_menu.ejs %>


</div>
<%let pageName='Show class page, class name: ' + class_found.name%>
<% include ../shared/logger.ejs %>
