<div class="col-md-12 content">
      <ol class="breadcrumb col-md-10 col-md-offset-1">
        <li><h1>Classes</h1></li>
        <li><a href="/schools/<%= req.param('school_id') %>/years">Classes</a></li>
        <li><a href="/schools/<%= req.param('school_id') %>/years/new">New School Level</a></li>
        <li><a href="/schools/<%= req.param('school_id') %>/classes/new">New Class</a></li>
        <li class="active">Remove Classes/School Levels</li>
      </ol>
      <div class="col-md-8 content-class-data col-md-offset-2">
          <div class="col-md-5">
          <div class="panel panel-primary">
            <div class="panel-heading">All Classes</div>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Class Name</a><a class="btn btn-default btn-xs pull-right glyphicon glyphicon-remove"></a></li>
            </ul>
          </div>
      </div>
      </div>
  </div>
