<% title = "Easy Schools | " +  __('NewـAnnouncment') %>
  <div class="col-md-12 content">

<div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check ">

      <a style="color:#fff; text-transform:capitalize" href="#"</a> <%= req.session.school.name %> /
      <a style="color:#fff; text-transform:capitalize" href="/schools/<%= req.param('school_id') %>/announce">Announcments</a>

  </h2>

</div>

 <div class="panel panel-primary panel-padding col-md-6 col-md-offset-3" dir="<%=req.locale == 'ar'?'rtl' : 'ltr'%>">
      <div class="panel-heading >
                   <h1 class="panel-title" style="font-size:16px;"><%= __('AddـAnnounce') %></h1>
      </div>
      <div class="panel-body">


      <form action="/schools/<%= req.param('school_id') %>/announce/new" method="post">

        <label for="announceType"><%= __('Announcement_Type') %></label>
          <select class="form-control" id="announceType" name="announce_type">
              <option>--<%= __('choose_an_announcement_type') %> ---</option>
              <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group1Roles)) {%>
                <option value="school"><%= __('Schools') %></option>
                <option value="master"><%= __('Masters_Teachers') %></option>
              <%}%>
              <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  [sails.config.constants.userRoles.individuals.teacher])) {%>
                <option value="master"><%= __('Masters_Teachers') %></option>
              <%}%>
              <option value="class"><%= __('Class') %></option>
              <option value="student"><%= __('Students') %></option>
              <option value="parent"><%= __('Parents') %></option>
          </select>

         <label><%= __('AnnouncmentـTitle') %>:</label>
          <input type="text" name="title" class="form-control" placeholder="<%= __('AnnouncmentـTitle') %>" required />

           <label><%= __('Description') %>:</label>
          <input type="text" name="description" class="form-control" placeholder="description" />





          <label><%= __('StartـDate') %> :</label>
          <input type="date" name="start" class="form-control" placeholder="start date" required />

           <label><%= __('End_Date') %> :</label>
          <input type="date" name="end" class="form-control" placeholder="end date" required />

          <div hidden>
          <input type="text" name="school" class="form-control" placeholder="school" value="<%= req.param('school_id')%>"  />
          </div>


          <!---select classes-->
        <div id="classessection"  class="sections" style="margin-top: 10px;margin-bottom:10px;" hidden>
          <label for="associateClass"><%= __('Choose_Classes') %></label>
            <select class="form-control select_multiple"  name = "classes" id="classes-multiple-selected" multiple="multiple">

          </select>
          </div>
             <!---end select classes-->

            <!---select division-->
      <div id="divisionssection" class="sections" style="margin-top: 10px;margin-bottom:10px;"  hidden>
        <label><%= __('Divisions') %></label>
          <select class="form-control select_multiple"  name = "divisions" id="divisions-multiple-selected" multiple="multiple">

          </select>


      </div>
         <!--- end select division-->

         <!---select teachers and admins-->
      <div id="teachersssection" class="sections" style="margin-top: 10px;margin-bottom:10px;"  hidden>
        <label><%= __('Masters_Teachers') %></label>
          <select class="form-control select_multiple"   name = "users" id="teachers-multiple-selected" multiple="multiple">

          </select>


      </div>
         <!--- end select teachers and admins-->

        <!---select students -->
      <div id="studentsssection" class="sections" style="margin-top: 10px;margin-bottom:10px;"  hidden>
          <a id="students_update" class=" btn btn-default"><%= __('click_here_to_update_students_list') %></a> <br>
        <label><%= __('Choose_students') %></label>
          <select class="form-control select_multiple"   name = "users" id="students-multiple-selected" multiple="multiple">

          </select>


      </div>
         <!--- end select students-->

                  <!---select parents -->
      <div id="parentssection" class="sections" style="margin-top: 10px;margin-bottom:10px;"  hidden>
           <a id="parents_update" class="btn btn-default"><%= __('Click_here_to_update_parents_list') %></a> <br>
        <label><%= __('Choose_parents') %></label>
          <select class="form-control select_multiple"   name = "users" id="parents-multiple-selected" multiple="multiple">

          </select>
      </div>
         <!--- end select parents-->

       <input type="submit" value="<%= __('Send') %>" class="btn btn-default pull-right" />

      </form>


      </div>
 </div>

  </div>




    <script src="/js/new_announcements.js"></script>

    <script>

$("#announceType").on('change', function(e){

          if($("#announceType").val()=='school'){
            renderschool();
          }else if ($("#announceType").val()=='class'){
            getclasses(<%=req.param('school_id')%>, <%=req.user.id%>, '<%=req.user.type%>');

          }else if($("#announceType").val()=='master'){
            getteacherandmasters(<%=req.param('school_id')%>);

          }else if ($("#announceType").val()=='student'){
              getstudents(<%=req.param('school_id')%>, <%=req.user.id%>, '<%=req.user.type%>');
          }else if ($("#announceType").val()=='parent'){
              getparents(<%=req.param('school_id')%>, <%=req.user.id%>, '<%=req.user.type%>');
          }
    });


    </script>

    <%let pageName='Create new event'%>
    <% include ../shared/logger.ejs %>
