<% title = "Easy Schools | " +  __('Announcments') %>
  <div class="col-md-12 content">


    <div class="col-md-12">
  <h2 class="col-md-4 col-md-offset-4 check ">
      <p><%= req.session.school?req.session.school.name:'' %> </p>

   </h2>

   </div>


    <div class="pull-right">
      <div  style="font-size:25px;margin-top:25px;">
        <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group2Roles)) {%>
               <a href="announce/new" style="color:#5cb85c"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <%}%>
       </div>

       <div id="event-colors">
         <ul style="list-style: none">
             <li> <div style="margin-right: 5px; position: relative; top: 5px; background-color: rgb(0, 114, 187);height:13px;width:40px; float : left; padding: 5px;"> </div> <div style="float : left; "> <%= __('Schools') %></div></li>
             <li> <div style="clear: both;margin-right: 5px; position: relative; top: 5px; background-color: rgb(255, 76, 59);height:13px;width:40px; float : left; padding: 5px;"> </div> <div style="float : left"> <%= __('Class') %></div></li>
             <li> <div style="clear: both;margin-right: 5px; position: relative; top: 5px; background-color: rgb(255, 208, 52);height:13px;width:40px; float : left; padding: 5px;"> </div> <div style="float : left"> <%= __('Masters_Teachers') %></div></li>
             <li> <div style="clear: both;margin-right: 5px; position: relative; top: 5px; background-color: #000;height:13px;width:40px; float : left; padding: 5px;"> </div> <div style="float : left"> <%= __('Students') %></div></li>
             <li> <div style="clear: both;margin-right: 5px; position: relative; top: 5px;background-color: rgb(198, 200, 202);height:13px;width:40px; float : left; padding: 5px;"> </div> <div style="float : left"> <%= __('Parents') %></div></li>

         </ul>
       </div>
     </div>
    <div class="col-md-8 content-data center-block">
        <div id="calendar"></div>
    </div>


    <div id="eventContent" title="Event Details">
            <div class="panel panel-default">
                  <div class="panel-body">
                    <div > <strong> <%=__('EventـDescription')%> :</strong></div>
                    <p id="eventInfo"></p>
                  </div>
            </div>
            <div class="panel panel-default">
                  <div class="panel-body">
                     <div > <strong> <%=__('Event_Start_Date')%> : </strong> </div>
                     <p id="eventstartdate"></p>
                     <div> <strong> <%=__('Event_End_Date')%> : </strong></div>
                     <p id="eventendate"></p>
                  </div>
            </div>
            <div class="panel panel-default">
                  <div class="panel-body">
                    <div > <strong> <%=__('Sent_to')%>  :</strong></div>
                    <p id="typeofsentto"></p>
                    <ul id="sentto"></ul>
                  </div>
            </div>

        <% if(sails.config.permissionUtils.shouldISeeThis(req.user.type,  sails.config.constants.userRoles.group2Roles)) {%>
            <br>
                <a id="eventLink" target="_blank">
                <span class="alert alert-danger" aria-hidden="true"> <%=__('remove_event')%></span>
                </a>
            <br>

            <div id="eventsentto">


            </div>
        <%}%>


    </div>


  </div>

<script src='/js/ar.js'></script>
<script src='/js/en-gb.js'></script>

<script>


 $(document).ready(function() {

  console.log('<%=req.locale%>');


      $("#eventContent").dialog({ autoOpen: false });


    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({

      eventRender: function(event, element) {
          console.log(event.owner);
             $(element).tooltip({title: event.description +  "\n" + "Owner : " +event.owner.firstName + " " + event.owner.lastName });
        },
      displayEventTime: false,
      navLinks: true,

      eventAfterRender: function (event, element, view) {
          console.log(event.announce_type);
          if(event.announce_type=='school'){
              element.css('background-color', '#0072BB');
          }else if(event.announce_type=='class') {
              element.css('background-color', '#FF4C3B');
          }else if (event.announce_type=='master'){
              element.css('background-color', '#FFD034');
          }else if (event.announce_type=='student'){
              element.css('background-color', '#000000');
          }else if (event.announce_type=='parent'){
              element.css('background-color', '#C6C8CA');
          }
      },
      customButtons: {

        myCustomButton: {
              text: 'custom!',
              click: function() {

              }
            }
      },
    header: {
        left: 'prev,next today myCustomButton',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
    },
     events: '/schools/'+<%=school_id%>+'/announces/mine?schoolId=<%=school_id%>&startdate=1990-01-01&enddate=2050-01-01',

     eventClick: function (calEvent, jsEvent, view) {

      if (calEvent.announce_type=="school") {
        $("#typeofsentto").html("")
        $("#sentto").html("");
        $("#sentto").append("<li>the Whole School</li>");

      }else if (calEvent.announce_type=="class"){

         $("#sentto").html("");
         for (var i = 0 ;i < calEvent.classes.length; i++) {
             $("#typeofsentto").html("");
             $("#sentto").append("<li>"+calEvent.classes[i].name+"</li>");
          }

      }else{
         $("#typeofsentto").html("")
         $("#sentto").html("");
         console.log("users  maan");
         for (var i = 0 ;i < calEvent.users.length; i++) {
             $("#typeofsentto").html(" type: "+ calEvent.users[i].type);
             $("#sentto").append("<li>"+calEvent.users[i].firstName + " " + calEvent.users[i].lastName+" </li>");
          }

      }

        console.log(calEvent);
      var start = calEvent.start.time();
        $("#eventInfo").html(calEvent.description);
       $("#eventstartdate").html(calEvent.start.add(1, 'days').format('D /M /YYYY'));
       $("#eventendate").html(calEvent.end.add(1, 'days').format('D/M/YYYY'));
      // $("#sentto").html(calEvent.announce_type);
       $("#eventContent").dialog({ modal: true, title: calEvent.title });

       $("#eventContent").dialog('open');


          $("#eventLink").confirm({
              closeIcon: true,
               backgroundDismiss: true,
              title: 'delete event!',
              content: 'Are you really sure that you want to delete the event?',
              buttons: {
                  confirm: function () {
                      $.ajax({
                              url: '/announcements/'+calEvent._id,
                              type: 'DELETE',
                              success: function(result) {
                                $('#calendar').fullCalendar('removeEvents', calEvent._id);
                                $("#eventContent").dialog('close');

                              }
                            });
                      this.close();
                  },
                  cancel: function () {

                  }
              }
          });

      },

    });


    if ('<%=req.locale%>' =='en') {
      console.log("da5al hna");
     $('#calendar').fullCalendar('option', 'locale', 'en');


    }else{
            console.log("da5al hna22");

$('#calendar').fullCalendar('option', 'locale', 'ar');

    }


});

function eventsentto(event , users){

  for (var i = 0; i < event.users.length; i++) {
     users.push(events.users[i].username);
  }


}

</script>
<%let pageName='Calendar main page'%>
<% include ../shared/logger.ejs %>
